[2018-08-21 13:59] azazellochg opened #1 "add protocol to calculate fsc"
relion_image_handler can be used to plot FSC-work/FSC-free/FSC-modelvsmap

[2018-08-21 14:04] delarosatrevin commented on #1
relion 3.0?

[2018-08-21 14:06] azazellochg commented on #1
nope, it's a command-line thing. I assume it was there since the beginning..

[2018-08-21 15:33] delarosatrevin opened #2 "Some recursion issue when scheduling (in Scipion) a Relion 3D refine"
Probably it is a more general issue, but detected with this protocol.
The issue has been detected in release-1.2.1, but will not be addressed there.

Error trying to update protocol: (jobId=5662)
 ERROR: maximum recursion depth exceeded while calling a Python object, tries=0
Error trying to update protocol: (jobId=5662)
 ERROR: maximum recursion depth exceeded while calling a Python object, tries=

[2018-08-28 16:45] azazellochg opened #3 "maxStddevNoise is not fully implemented?"
[Here](https://github.com/scipion-em/scipion-em-relion/blob/devel/relion/protocols/protocol_autopick_v2.py#L490) maxStddevNoise is a wrong argument since it is not implemented in the original function

[2018-09-18 09:38] azazellochg opened #5 "add/check package references"
https://doi.org/10.1101/384537 relion mc
https://doi.org/10.7554/eLife.36861 multi-body ref
https://doi.org/10.7554/eLife.18722 relion 2 / gpu accel. paper
https://doi.org/10.1016/j.jsb.2014.11.010 autopicking (v 1.3)
https://doi.org/10.1016/j.ultramic.2013.06.004 HR noise subst - for postprocess protocol
https://doi.org/10.1016/bs.mie.2016.04.012 - general guide, besides tutorial
https://doi.org/

[2018-10-21 13:06] azazellochg opened #7 "why postprocess viewer requires xmipp plugin?"
I couldn't figure this out, maybe I did not look deep enough.
https://github.com/scipion-em/scipion-em-relion/blob/fix-imports/relion/viewers.py#L887

[2018-10-21 16:38] #3 closed

[2018-11-08 13:00] pconesa opened #9 "Suggestion to change some default values"
Reported by Jaime:
Image is for a 2D classification run with "fill with 0" (in optimsation) , which is the default value in Scipion, (right image) and with "fill with random noise" (left image) which is the default value for relion. He rather have "fill with random noise" as default value.
![image](https://user-images.githubusercontent.com/785633/48200036-32972f80-e35e-11e8-8b7e-bd52415ffdca.png)

[2018-11-08 13:02] delarosatrevin commented on #9
I will take a look at this. We should always try to keep the same defaults as in the original package...unless a big argument against it.

[2018-11-12 13:38] delarosatrevin commented on #9
Hi I have checked in Relion 2 (and 3) and in both, that option has a default value of "Mask individual particles with zeros?" = Yes in Relion....and we have also this default. See attached image.
![2d-relion-scipion](https://user-images.githubusercontent.com/8441688/48350821-9f753700-e688-11e8-9143-eb53e355da07.png)

So, I vote for closing this issue.

[2018-11-12 14:20] josuegbl commented on #9
Me too, although my vote is not valid if I aligned with you, @delarosatrevin :tongue:

[2018-11-12 14:22] #9 closed

[2018-11-25 18:11] #7 closed

[2018-11-28 16:57] rmarabini opened #12 "error executing test testrelioninitialmodel"

[2018-11-28 17:00] rmarabini opened #13 "error executing test convert relion"
Erro:

[   FAILED ] TestReconstruct.test_reconstRotandShiftFlip

Traceback (most recent call last):
  File "/home/marta/software/scipion_plugin/software/lib/python2.7/unittest/case.py", line 329, in run
    testMethod()
  File "/home/marta/software/scipion_plugin/software/lib/python2.7/site-packages/relion/tests/test_convert_relion.py", line 777, in test_reconstRotandShiftFlip
    self.launchTest(

[2018-11-28 18:50] azazellochg commented on #13
No branch, no versions, how am I supposed to reproduce that @rmarabini ?

Scipion 2.0 devel-pluginization db8330c
Plugin devel
[ RUN   OK ] TestReconstruct.test_reconstRotandShiftFlip (35.704 secs)

[2018-11-28 18:50] #13 closed

[2018-11-30 11:40] azazellochg commented on #12
devel-pluginization db8330c
devel plugin
relion 2.1
[ RUN   OK ] TestRelionInitialModel.testProtRelionIniModel (618.158 secs)

[2018-11-30 13:48] #12 closed

[2018-11-30 13:53] azazellochg opened #14 "failing workflow tests"
devel-pluginization d3d576d
plugin devel
relion 2.1.0

scipion test pyworkflow.tests.em.workflows.test_workflow_streaming.TestRelionExtractStreaming fails because sparx picker  (eman 2.21) does not pick any particles...

[2019-01-12 15:56] azazellochg opened #15 "Extract particle movies missing?"
Where did this protocol disappear after pluginization?
https://github.com/I2PC/scipion/blob/devel/pyworkflow/em/packages/relion/protocol_extract_particles_movies.py
https://github.com/I2PC/scipion/pull/1542

[2019-01-13 13:09] #15 closed

[2019-01-15 12:21] azazellochg opened #18 "add validation for diameter bg"
In particle extraction protocol there is no validation for diameter of bg circle (px). The program fails with `normalise ERROR: 2*bg_radius is larger than image size!`
Especially when you do rescaling, the diameter should correspond to a rescaled box!

[2019-01-15 16:39] azazellochg opened #19 "too many columns rendered by default?"
relion3 branch
I open set of particles after 2d CLS, and the default table looks a bit of overkill, also making it slow to render:
![screenshot_20190115_163011](https://user-images.githubusercontent.com/6952870/51194422-ef6bb680-18e2-11e9-9b59-da3217e086f2.png)

I am thinking maybe we should not display the following columns by default:

- label
- comment
- coordinate.micId (micid is enough?)
- ct

[2019-01-15 16:56] azazellochg opened #20 "SGD viewer issue"
When clicking on Changes in offsets and angles or Show average Pmax, I get:
[code]
This is because output star is written every 10 iterations (depends on settings)

[2019-01-15 17:18] azazellochg opened #21 "relion_reconstruct wrong option"
[code]
I think in relion3 the --j option was thrown away and relplaced by a separate command:
`relion_reconstruct_openmp --jomp`

[2019-01-15 17:44] azazellochg opened #22 "relion_postprocess add mpi option"

[2019-01-15 17:51] azazellochg opened #23 "relion_autopicking wizard"
Not the Log picker!
After running once in optimizae mode and clicking in the wizard I get this:
`Labels MDL_MICROGRAPH or MDL_IMAGE not found in metadata Tmp/4290.outputMicrographsSubset/micrographs.xmd`
@delarosatrevin is it because of pending xmipp PRs?

[2019-01-15 19:33] azazellochg opened #24 "auto refine 3d missing params"
Optimization tab is totally empty...
![screenshot_20190115_193138](https://user-images.githubusercontent.com/6952870/51204802-58abf380-18fc-11e9-8945-8767b7f1d9a8.png)

[2019-01-16 09:46] delarosatrevin commented on #24
Well, with the current organization of the parameters, the Optimisation tab is only needed in CLASSIFY mode.

Fixed in af4ec15cf5c42cc0

[2019-01-16 09:46] #24 closed

[2019-01-16 10:09] delarosatrevin commented on #22
Is this new in R3? or is was available before?

[2019-01-16 10:14] azazellochg commented on #22
It existed in 2.0 and 2.1 as well

[2019-01-16 10:25] #5 closed

[2019-01-16 10:54] azazellochg opened #25 "local res protocol should support polishing input"
Now it only accepts refinement protocol, we should also include the possibility of using old and new (bayesian) polishing.

[2019-02-10 20:43] azazellochg commented on #25
I was wrong, you need input volume (half).

[2019-02-10 20:43] #25 closed

[2019-02-10 21:27] azazellochg commented on #14
PR is in the main repo.

[2019-02-10 21:27] #14 closed

[2019-02-10 21:27] #21 closed

[2019-02-10 21:37] azazellochg opened #26 "review isVersion2Active"
I think we should review the use if relion.Plugin.isVersion2Active() where it still remains. It looks to me that in some places it is testing for 2.1+ version but maybe some cases it was used to test 2.x version. Since we still support 2.0 and 2.1 we should rename this function. It's name is misleading.

[2019-02-20 15:55] delarosatrevin commented on #2
@azazellochg, have you seen this? Maybe we can close it and re-open if we need so.

[2019-02-20 16:25] delarosatrevin commented on #23
Is this still happening?

[2019-02-20 17:47] pconesa opened #28 "regularization parameter tau + continue mode"
From, Jaime (user here at cnb):

He is trying to continue a relion classification from a previous run. he changed the "tau" parameter...but the continuation is not using the new tau value.

[2019-02-20 17:55] pconesa commented on #28
and the new value is not persisted.

[2019-02-20 20:53] azazellochg commented on #28
relion 2 + scipion 2?

[2019-02-21 05:11] pconesa commented on #28
Not sure, we just installed him pluginization but probably is relion2
scipion-1.2.1

I think working in the plugin should be fine.

El mié., 20 feb. 2019 21:54, Gregory Sharov <notifications@github.com>
escribió:

[2019-02-23 16:25] azazellochg commented on #28
I checked, indeed the value from previous protocol is copied (introduced 2y ago, no idea why), affecting all scipion versions. The fix for version 1.2.1 is to comment / delete two lines number 1027 and 1028 (https://github.com/I2PC/scipion/blob/master/pyworkflow/em/packages/relion/protocol_base.py#L1027)

I will fix this in the plugin

[2019-02-23 16:25] #28 closed

[2019-02-23 16:38] azazellochg commented on #23
I'm pulling latest xmipp now, will check again

[2019-02-23 16:45] delarosatrevin commented on #23
Don't worry, I think I know where the issue is and it is not solved with
latest version of Xmipp.

On Sat, Feb 23, 2019 at 5:38 PM Gregory Sharov <notifications@github.com>
wrote:

[2019-02-24 16:19] azazellochg commented on #2
I did, with 1.2.x, it happens rarely...

[2019-02-24 16:56] #26 closed

[2019-02-24 18:18] azazellochg opened #29 "add relion localsym"
From https://github.com/I2PC/scipion/issues/1362

[This](https://www2.mrc-lmb.cam.ac.uk/relion/index.php/Local_symmetry) protocol is available from relion version 2.1 only. This is still in development, so we might want to wait out a bit.

[2019-02-24 18:25] azazellochg commented on #2
https://github.com/I2PC/scipion/issues/547 same?

[2019-02-26 12:41] rmarabini opened #30 "do manual grouping ctfs"
Hi,

   I am trying to run relion 3 inside Scipion using this plugin (branch relion3). In the CTF tab there is an option called "Do manual grouping CTFs", if yes is selected two extra options should appear, defocus range and minimum size.

  In the new version this options are gone :-(. Can you put then back?

    Roberto

[2019-02-26 14:40] azazellochg commented on #30
they are there: https://github.com/scipion-em/scipion-em-relion/blob/relion3/relion/protocols/protocol_base.py#L383

[2019-02-26 14:40] #30 closed

[2019-02-26 17:13] azazellochg opened #31 "wrong pixel size in particle extraction protocol"
[code]

Problem: rlnDetectorSize is missing in input star file, while rlnMagnification exists

[2019-02-26 18:15] rmarabini opened #32 "self.realignMovieFrames"
Still trying to run relion3 (branch relion3)

If I execute  relion 3D - autorefine I get the error:

----
00023:     File "/usr/local/Plugins/scipion-em-relion/relion/protocols/protocol_refine3d.py", line 85, in _setSamplingArgs
00024:       if self.realignMovieFrames:
00025:   AttributeError: 'ProtRelionRefine3D' object has no attribute 'realignMovieFrames'
----

  In file file "protocol_refine3d

[2019-02-26 18:35] azazellochg commented on #32
Thanks @rmarabini ! I have fixed this.

[2019-02-26 18:35] #32 closed

[2019-02-27 12:00] azazellochg commented on #31
@delarosatrevin I'm thinking just to add --set_angpix arg to cmd in this protocol. The pixel size is in cmd for most other commands in relion, except this one

[2019-02-27 12:02] delarosatrevin commented on #31
Ok, great! Would you mind to add a small test for it...that fails before this fix and not now?

[2019-02-27 12:03] azazellochg commented on #31
nothing fails, in fact, it's just relion prints a wrong number in the output log

[2019-02-27 13:25] azazellochg opened #33 "make protocols detect completed iterations"
From https://github.com/I2PC/scipion/issues/547
maybe a way here could be to make the Relion protocols (and other that have the same iterative way and support continue from ) smarter and if they detect previous iterations, then will insert an step to continue from previous one....without the need to make a copy. Maybe this way complicates a little bit the parameters are or are not allowed in the c

[2019-02-27 13:27] delarosatrevin commented on #33
Yes!!! I fully support this idea. I think is really weird for users that are used to Relion GUI, to make a copy and specify the continue. It should be more natural to make a "clever" continue as you suggest and just add a new step.

I think this should not be that difficult, but I propose you to address this after we get rid of scipion-core 2.0.

[2019-02-27 13:31] azazellochg opened #34 "group particles after relion run"
From https://github.com/I2PC/scipion/issues/1151
Regroup particles based on intensity scale factor after 2d/3d relion run. This could be implemented in a relion viewer..
An example of how it is done in relion: [here](https://github.com/3dem/relion/blob/master/src/displayer.cpp#L1052)

[2019-02-27 13:54] rmarabini opened #35 "relion - ctf refinement visualization"
Hi,

  In relion 3.0 tutorial, ctf refinement section sSors suggesto to check 3 items -two images and a pdf file-
 (I attach the corresponding paragraph to this email) Current implementation of ctf refinement in Scipion does not shown any of these three items. I volunteer to modify Analyze if it OK with you

===================
You can analyse the refined defoci by selecting the logfile.pdf file f

[2019-02-27 13:58] rmarabini opened #36 "beamtilt"
Hi,

    CTF refinement is able to refine the beam tilt. Is the value of this new beamtilt stored in particle.sqlite or any other place? It is needed for the final reconstruction.

[2019-02-27 15:56] azazellochg commented on #31
fixed in 43b0b29

[2019-02-27 15:56] #31 closed

[2019-02-27 17:26] azazellochg commented on #36
@rmarabini you are right, it's not stored.

[2019-02-27 18:33] azazellochg opened #37 "convert gain to mrc"
in relion_run_motioncorr prtotocol
DM4 is not supported in 3.0

[2019-02-27 18:42] azazellochg commented on #37
oops, it works.

[2019-02-27 18:42] #37 closed

[2019-02-27 18:50] azazellochg commented on #35
Hi @rmarabini you can go ahead and modify the results. :)

[2019-02-27 19:08] rmarabini opened #38 "relion.tests.test_workflow_relion3 fails if gctf is not installed"
relion.tests.test_workflow_relion3 imports gctf and fails if not available.

  I suggest to change:

from
  gctf.protocols import ProtGctf
to
   importFromPlugin('gctf.protocols', 'ProtGctf')

In this way we will not get an error message if we execute

  scipion test --show

[2019-02-28 08:13] rmarabini commented on #35
OK

On Wed, Feb 27, 2019 at 7:50 PM Gregory Sharov <notifications@github.com>
wrote:

[2019-02-28 08:17] delarosatrevin commented on #35
Thanks @rmarabini! Yes, feel free to go ahead and modify it to provide this results more easily. I didn't because lack of time...and their are still accessible from the browser of this run. Please, as usual, create a PR with the modifications.

[2019-02-28 08:17] delarosatrevin commented on #38
Please change this together with other modification you are proposing.

[2019-03-03 08:52] delarosatrevin opened #41 "Allow 'relion - extract particles' to input particles"
This way, it will be closer to the implementation in Relion GUI. Moreover, it is true that almost in all cases that we use 'scipion - extract coordinates', we run an extract after it. So, we are always using two protocols for this. It would be good to have a viewer showing particles in the Micrographs.

[2019-03-05 09:27] azazellochg opened #44 "add validation"
to refine3d that particles size and mask / volume size is the same

[2019-03-05 13:21] delarosatrevin commented on #44
@azazellochg I think that I added automatic scaling of input volume...and I did the same for the mask, but it is not in the plugin yet. In that way we do this for the user and avoid rescaling as a separate protocol.

[2019-03-05 23:11] #38 closed

[2019-03-06 17:23] azazellochg commented on #44
@delarosatrevin it looks like you commented it out:
https://github.com/delarosatrevin/scipion/blob/sdevel-relion3/pyworkflow/em/packages/relion/protocol_refine3d.py#L162

[2019-03-06 18:12] azazellochg commented on #36
fixed in #43

[2019-03-06 18:12] #36 closed

[2019-03-07 10:00] delarosatrevin opened #46 "Automatically rescale the input mask with the same size of particles"

[2019-03-07 10:01] delarosatrevin opened #47 "Improve way to check Relion version from link"
It can produce some nasty bug if the wrong version number is matched in another part of the link.

[2019-03-07 21:59] delarosatrevin commented on #47
Implemented in plugin and v1.2.2rc

[2019-03-07 21:59] #47 closed

[2019-03-07 21:59] #46 closed

[2019-03-07 22:01] delarosatrevin commented on #2
It is happening over here quite frequently..."Wait for" seems to be the common factor when it appears...

[2019-03-13 14:30] delarosatrevin commented on #23
Fixed in ca39a5b91af1a22b

[2019-03-13 14:30] #23 closed

[2019-03-13 14:49] delarosatrevin commented on #19
@azazellochg Do you mean after Relion - 2D classification? The output is SetOfClasses2D...if you create a subset of particles...and visualize it, I still do not get so many columns...can you specify better this case?

[2019-03-13 14:50] delarosatrevin commented on #35
This issue is being addressed in #48

[2019-03-17 00:29] azazellochg commented on #19
@delarosatrevin I already forgot what I did there.. hehe ^) I think, I opened result viewer and displayed particles from a certain class. The problem is not relion-specific I assume, since relion only adds a few extra columns with its own metadata. The thing is that ctfmodel.micobj.* duplicates a whole bunch of micobj.* things. This issue should go to scipion core.

[2019-03-19 07:38] pconesa opened #50 "relion Motioncorcreate output error"
This is coming from:
Weng M Ng
DPhil Student
Huiskonen & Bowden Groups

Division of Structural Biology
Wellcome Trust Centre for Human Genetics
Nuffield Department of Clinical Medicine
University of Oxford

(I'll point him here)

Conversation:

Hi,

stdout:
[code]

Pablo (me)

Weng

He attached all starfiles, I'm pasting one:

[code]

I've replied this:

[2019-03-19 09:44] azazellochg commented on #50
I assigned @delarosatrevin since he is supporting Scipion v1.2.2-rc branch

[2019-03-19 10:01] delarosatrevin commented on #50
Yes, I will check it in both my branch and the plug-in.

On Tue, Mar 19, 2019, 10:45 AM Gregory Sharov <notifications@github.com>
wrote:

[2019-03-27 11:15] #35 closed

[2019-03-27 14:44] delarosatrevin commented on #50
It is working fine after updating to the most recent version.

[2019-03-27 14:44] #50 closed

[2019-04-14 19:38] azazellochg commented on #20
@delarosatrevin any chance you had a look at this?

[2019-05-09 08:55] delarosatrevin opened #53 "Input mask is not re-scaled by default in Post-processing"

[2019-05-09 08:56] delarosatrevin opened #54 "Allow to select MTFs from most-used ones"

[2019-05-14 15:36] rmarabini opened #56 "missing option in relion 2D"
In scipiopn 1.2, relion 2D classify used to have, in tab Optimization, an expert option that allowed to select a mask. Is oK if I put it back or is there any reason why this option has been removed?

[2019-05-14 15:50] delarosatrevin commented on #56
I have check scipion 1.2 (relion3 and relion2) and I can't find this mask option that you are missing in expert mode.

Moreover, I checked the Relion 3 GUI and I can't find this neither, so, unless there is a good reason for this option, I would prefer to stick to the original package.

[2019-05-15 11:12] rmarabini commented on #56
Hi,

Ok, Let us summarize this issue report before closing it

1) Dr Benito complained about this missing  parameter

2) I checked that the parameter is missing. In the attachment you may see
the Optimization tab for relion 2D classificatio for Dioclecian (right) and
for Claudius (left). All the options are the default ones and no input
particles have been selected. As you can see in one case by d

[2019-05-15 12:07] azazellochg commented on #56
it was [removed](https://github.com/scipion-em/scipion-em-relion/commit/e792e08a83167783116881f75d019e7a66511806#diff-5bc6585e6fc771a87441f614eccb0eeb) by @delarosatrevin in by mistake I assume. It must be there (https://github.com/I2PC/scipion/issues/836). I'll put it back.

[2019-05-15 14:48] rmarabini commented on #56
Hi again,

   This is Dr Benito comments about the mask  (sorry for the Spanish)

".. en el 2D también se pueden poner máscaras para focalizar la
clasificacion en un zona. Yo lo he hecho bastantes veces, con las
hélices por ejemplo pongo un rectángulo."

In relion 1.2.1 the relevant code is:
===================================
if self.IS_3D:
form.addParam('referenceMask', PointerParam,
pointerClas

[2019-05-15 14:55] delarosatrevin commented on #56
@rmarabini , this options has been restored by @azazellochg in a PR. I don't remember any good reason why I removed, so is very likely it was a mistake as @azazellochg suggested. I will take a look at the PR and merge it.

Say thanks to Dr. Martín-Bonito for reporting this.

[2019-05-20 09:58] #54 closed

[2019-05-20 09:59] #56 closed

[2019-05-20 09:59] #53 closed

[2019-05-21 21:56] azazellochg opened #58 "missing block name"
https://github.com/scipion-em/scipion-em-relion/blob/16b4b4f01781a3a26c6fb5c7c1a67d180e068a79/relion/convert/metadata.py#L230

[2019-05-21 21:59] azazellochg opened #59 "motioncor does not work without patches"
local_motion_model table does not exist if user selects <=2 patches and then relion runs only global motion correction. We need to fix output step for this case

[2019-05-21 22:03] azazellochg opened #60 "motioncor creates empty output folder in the project folder"
The correct output folder is in tmp/movie_######/output. The one in project folder should not exist..

[2019-05-22 06:20] delarosatrevin commented on #58
Hi @azazellochg, Can you provide more details of this issue? One example star file that cause it?

[2019-05-22 06:25] delarosatrevin commented on #59
Either I'm having a dejavú or we have lost code..because I think that I already fixed this. In any case,I will take a look.

[2019-05-22 20:46] azazellochg commented on #59
@delarosatrevin It's interesting, because it works if I select 1x1 patches, but not 2x2. Output star file is exactly the same

[2019-05-22 20:57] azazellochg opened #61 "move export prots to export section"
![Screenshot_20190522_215727](https://user-images.githubusercontent.com/6952870/58208438-a1295280-7cdc-11e9-8082-404b0aba7135.png)

[2019-05-22 21:00] azazellochg commented on #58
Hi @delarosatrevin it's just a missing substitution :)

[2019-05-22 21:09] delarosatrevin commented on #58
Can you be more explicit? I can fix it tomorrow.

[2019-05-22 21:17] azazellochg commented on #58
raise Exception("%s block was not found" % dataStr)

[2019-05-23 19:16] azazellochg opened #62 "motioncorr failed output step"
Master branch, running with 24 threads, 1 MPI, do dose-weighting=yes, save non-dose weighted=no
[code]

[2019-05-23 19:29] azazellochg commented on #62
basically the core protocol it looks for outputMicrographs which are not produced since we have only dose-weighted ones

[2019-05-23 19:49] azazellochg opened #63 "motioncor not using mpi?"
1) Figure out if mpi can be used by relion
2) at the moment all MPI processes are running on each input movie sequentially.

[2019-05-23 19:51] azazellochg opened #64 "log autopicker fails with mpi"
Is it supposed to run with MPIs?
[code]

Also, threads option does not seem to do anything. There is no thread param for relion cmd apparently.

[2019-05-23 19:53] azazellochg commented on #64
It's true that I ran this with batch=0 which is a bad idea to do with mpi. Re-run with batch=1, same error.

[2019-05-24 09:52] azazellochg opened #65 "relion autopicking batch option not working"
It does not seem to be splitting anything in batches irrespective of MPI setting

[2019-05-24 10:49] delarosatrevin commented on #59
Is issue the same as #58?

[2019-05-24 20:19] azazellochg opened #66 "relion viewer issue"
Display FSC for relion refine protocol apparently plots FSC twice if you select both halfs. It doesnt' make sense.
![Screenshot_20190524_211840](https://user-images.githubusercontent.com/6952870/58354491-8d5f2700-7e69-11e9-8275-608c1c32e111.png)

[2019-05-25 19:22] delarosatrevin commented on #59
It seems to me that Relion also do global alignment only when using 2x2...I have fixed this here: 109a3a7cfd03

[2019-05-25 19:22] #59 closed

[2019-05-25 20:57] delarosatrevin commented on #62
This is a bug in the base protocol, so in scipion/pyworkflow/em.
The is a function _createOutputMicrographs that should return True if micrographs will be created (as well as _createOutputWeightedMicrographs), but this is not respected when trying to access the outputMicrographs attribute, it should be checked that _createOutputMicrographs returns true before that.

I will open a bug in the core r

[2019-05-25 21:26] delarosatrevin commented on #62
In the meantime that the base class is fixed...I have re-implemented the createOutputFunction in this protocol, so it will not fail. (commit 79b2c22)

[2019-05-25 21:26] #62 closed

[2019-05-25 21:30] delarosatrevin commented on #63
Hi @azazellochg,
I think the Relion program can use both MPI and threads....
I think our protocol is "using MPI", but not in a very smart way...as you said...all go to the same movie.

There are some bigger problems here:
* In PARALLEL_STEPS mode, we can't combine threads and MPI in our Scipion parallel implementation
* The batch mode is not implemented for motion correction protocols, in which ca

[2019-05-25 21:55] delarosatrevin commented on #61
Export protocols added to protocols.conf in the "Exports" section. (commit fa80973)

![Screenshot from 2019-05-25 23-52-11](https://user-images.githubusercontent.com/8441688/58374936-5ad82b80-7f48-11e9-9482-da7ad0d7295f.png)

[2019-05-25 21:55] #61 closed

[2019-05-25 21:55] #58 closed

[2019-05-26 09:03] delarosatrevin commented on #60
This is a bit weird...first, because the runJob is executed with cwd=movieTmpFolder...
Second, I swear that I got this 'output' folder at the project level...but now that I'm checking it, it is not generated anymore.

Can you double check this issue in branch 'protocol-fixes'??

[2019-05-26 09:33] delarosatrevin commented on #65
Why do you think it is not working? I have tested with both MPI and threads and the steps are properly created with the batch size of 5 (see image). Remember that when the protocol is PARALLEL_STEPS mode, either threads or MPI are used to create single processes that can be run in parallel, so in this case the MPI option is not used in the relion command itself. Here we have the same issue than in

[2019-05-26 09:35] delarosatrevin commented on #64
Batch 0 is fine, it will take all available micrographs and join in a batch...but it is true that with current PARALLE_STEPS mode might not be the best way to run it. I need to check MPI in multiple nodes, in a single workstations it seems to be working.

[2019-05-26 11:31] azazellochg opened #67 "missing in protocols.conf"
Master branch
- multi-body
- bayesian polishing
- center averages
- create 3d mask
- expand symmetry
- local resolution
- motioncor
- subtract projection
- symmetrize volume

[2019-05-26 11:58] azazellochg opened #68 "missing help on input movies"
in bayesian polishing. I just put imported movies, got an error of course.

[2019-05-26 12:00] delarosatrevin commented on #64
Ah, it is also failing locally in my pc with MPIs....I will check.

[2019-05-26 12:34] azazellochg opened #69 "local resolution: allow different input prot type"
Allow to input bayesian polishing protocol as well, not just refine 3d.

[2019-05-26 12:46] azazellochg opened #70 "localres viewer error with chimera"
[code]

[2019-05-26 12:49] azazellochg opened #71 "add protocol to invert handedness"
a simple one, using relion_image_handler command

[2019-05-26 13:23] azazellochg opened #72 "improve polishing summary"
we could print estimated polihing params (after training run) in the summary

[2019-05-26 18:44] azazellochg opened #73 "add protocol to remove duplicated particles"
https://github.com/OPIC-Oxford/localrec/blob/master/scripts/relion_remove_overlapping_particles.py

https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=CCPEM;2b838c96.1802

[2019-06-03 17:34] azazellochg commented on #65
Hi @delarosatrevin you are checking the wrong protocol. I was talking about relion2autopick not log picker.

[2019-06-05 15:55] pconesa opened #74 "Multibody refinement is failing..."
hi, this is from one of our betatesters.
He is getting this error:
[code]
Any hint? why this might happen. The autorefine was run with r3.0.

[2019-06-05 17:15] azazellochg commented on #74
I'm gonna test multibody in scipion now. Haven't had time to do it before. @pconesa could you maybe attach the star file?

[2019-06-05 18:10] azazellochg commented on #74
@delarosatrevin I'm also running:
[code]

My body star is:
[code]

The error is
[code]

I don't get where this tmp file is coming from...

[2019-06-05 18:16] azazellochg commented on #74
Found the issue, the mask in the previous refine 3d prot was used and it was created in tmp folder, so it does not exist anymore and it cant continue

[2019-06-05 18:25] azazellochg commented on #74
@pconesa found your error as well, please switch to protocol_fixes branch to have this issue resolved.

[2019-06-06 08:18] pconesa commented on #74
wow! Great! the betatester is not using github repo.
I can go and switch him to "repo mode" and test it or maybe he can wait for a release, depends on your release plans. What do you prefer?

[2019-06-06 08:49] azazellochg commented on #74
@pconesa please switch to devel branch, it has the fix. Next release will be a bit later.

[2019-06-06 08:50] #74 closed

[2019-06-06 08:52] pconesa commented on #74
ok!

[2019-06-06 09:10] rsanchezgarc opened #76 "Export coordinates required"
Hello.

Some people are asking for an export coordinates to relion starfile format. I think that will help people to try different particle pickers more easily

[2019-06-06 09:24] rsanchezgarc opened #77 "Exports to relion star files may be broken"
Apparently, exported coordinates (e.g. export particles) are not being properly understood by relion.
The header of the relion star files seems to have changed and thus, it is no longer able to recognize it.

scipion export example:

\# XMIPP_STAR_1 *
#
data_Particles
loop_
 _rlnEnabled
 _rlnCoordinateX
 _rlnCoordinateY
 _rlnMicrographName

Relion example file
\# RELION; version 3.0-beta-2

data_

[2019-06-06 14:21] azazellochg commented on #77
@rsanchezgarc I have no problems importing the star file with the following header in relion 3.0.6:
[code]

[2019-06-06 14:51] azazellochg commented on #77
Alright, you are trying to import coordinates into relion using an exported particles star file. This will never work. You need to have star coord file per each mic.

[2019-06-06 14:51] #77 closed

[2019-06-07 16:47] #68 closed

[2019-06-07 17:11] #72 closed

[2019-06-07 17:12] azazellochg commented on #60
Yes, I still have this folder

[2019-06-10 12:43] delarosatrevin opened #79 "Mask does not rescale in relion signal subtraction"

[2019-06-10 12:44] delarosatrevin opened #80 "Add a warning when trying to use GPU and 'no-alignment'"
Now the job is launched and it crash...would be nice to have the warning in advance.

[2019-06-19 11:41] delarosatrevin commented on #80
Fixed in 22470b949b3adb7

[2019-06-19 11:41] #80 closed

[2019-06-19 12:48] delarosatrevin commented on #79
Fixed in e0414f4

[2019-06-19 12:48] #79 closed

[2019-06-19 12:50] delarosatrevin opened #82 "When scaling input volume, Force user to check 'absolute grayscale = No'"

[2019-06-19 12:57] rmarabini opened #83 "relion postprocess command is wrong"
scipion: diocletian
scipion-em-relion: devel updated on (19-Jun-2019)

If I run relion postprocess the following command is lunched:

relion_postprocess --autob_lowres 10.0 --randomize_at_fsc 0.8 --auto_bfac  --filter_edge_width 2 --o Runs/005302_ProtRelionPostprocess/extra/postprocess --i Runs/005302_ProtRelionPostprocess/input/relion --angpix 2.84 --autob_highres 0.0 --mask Runs/005302_ProtRelio

[2019-06-19 12:59] delarosatrevin commented on #83
What version of Relion are you using inside and outside Scipion? I think there was a change about the --i form one version to another...maybe a bug was introduced. Please report the Relion versions to better track this.

[2019-06-19 13:39] delarosatrevin commented on #67
Fixed in 3ed5410

[2019-06-19 13:39] #67 closed

[2019-06-19 14:17] delarosatrevin commented on #64
Fixed in 6f09e85

[2019-06-19 14:17] #64 closed

[2019-06-19 14:45] delarosatrevin commented on #65
Thanks @azazellochg , you are right.
Now it is fixed in a75cd8f

[2019-06-19 15:00] delarosatrevin commented on #63
I would like to consider a more general solution to this problem...so I will remove the r1.0.5 label from this issue and postpone it for another release.

[2019-06-19 15:00] rmarabini commented on #83
Relion version:

  RELION_VERSION "3.0.5"

[2019-06-19 15:26] delarosatrevin commented on #60
Found it!...fixed in 59ec20b

[2019-06-19 15:26] #60 closed

[2019-06-20 11:05] delarosatrevin commented on #83
@rmarabini What version or the scipion-em-relion plugin are you using (from pypi, branch?). I'm using the devel branch of it + relion 3.0.6...and the command line generated looks more like the second one that you have mentioned and it works. Can you check if in your config file you have relion pointing to 2.x or older version?

[2019-06-20 11:23] rmarabini commented on #83
Hi,

It is not clear to my what version of scipion-em-relion I am using. scipion
GUI reports that I am using version 1.0.3 but I believe that I am using the
code I cloned from git. This code is a devel branch with
hash 2c46ae824862510d5db402d96efdc324a4cda429, and version '1.0.5' (or at
least this is what I see in the setup.py file). If I search for files
called "*relion*" in scipion directory I
g

[2019-06-20 11:28] delarosatrevin commented on #83
What Relion version/install do you have in ~/.config/scipion/scipion.conf
file?

I'm not sure about what is the exact version of the plugin in the
conditions that you are describing.

On Thu, Jun 20, 2019 at 1:23 PM rmarabini <notifications@github.com> wrote:

[2019-06-20 11:31] rmarabini commented on #83
src/macros.h:#define RELION_VERSION "3.0.5"

On Thu, Jun 20, 2019 at 1:28 PM Jose Miguel de la Rosa Trevin <
notifications@github.com> wrote:

[2019-06-20 11:33] delarosatrevin commented on #83
Not that, the one (location) in the scipion.conf file.

On Thu, Jun 20, 2019 at 1:31 PM rmarabini <notifications@github.com> wrote:

[2019-06-20 11:55] rmarabini commented on #83
In scipion.conf I have

   RELION_HOME = /usr/local/relion/build

if I execute
/usr/local/relion/build/bin/relion_refine --version

I get

RELION version: 3.0.5
Precision: BASE=double, CUDA-ACC=single

On Thu, Jun 20, 2019 at 1:33 PM Jose Miguel de la Rosa Trevin <
notifications@github.com> wrote:

[2019-06-20 11:58] delarosatrevin commented on #83
Hum...that might be the issue...the Relion binary version is "parsed" from
the link name...so,
I would recommend you to have a soft link: scipion/software/em/relion-3.0
-> /usr/local/relion/build
And in your scipion.conf:
RELION_HOME = %(EM_ROOT)s/relion-3.0
In that way, the version 3.0 will be recognized and the proper command for
postprocess generated.

On Thu, Jun 20, 2019 at 1:55 PM rmarabini

[2019-06-21 09:40] rmarabini commented on #83
You were right, rename relion directory from relion to relion-3.0 fixed the
problem ;-).

On Thu, Jun 20, 2019 at 1:58 PM Jose Miguel de la Rosa Trevin <
notifications@github.com> wrote:

[2019-06-21 09:46] delarosatrevin commented on #83
Ok, good to know that it is solved now. I'm closing this issue then.

[2019-06-21 09:46] #83 closed

[2019-06-26 09:05] rmarabini opened #85 "relion_refine3d and continue -> prints an error message in summary"
Scipion: dioclecian
relion: 3.0.6
relion plugin: devel  16b4b4f01781a3a26c6fb5c7c1a67d180e068a79

If a relion_refine 3D continues another relion_refine 3D an ERROR  message like the following one is printed in summary:

[1;31mFileName::isMetaData: File: 'Runs/005878_ProtRelionRefine3D/extra/relion_it016_half1_model.star' does not exist [0m

The problem is in the summary routine:

[code]
In particu

[2019-07-02 07:13] ldelcano opened #87 "Import particles when particles files names are repeated but on different folders does not work fine"
When importing particles from relion that are located in different folders with names repeated among them, results are wrong (particles.sqlite is created with all particles but links on extra file only point to some of them).
First, particle location should be unique on sqlite as it is done when importing from files in Scipion images.py (importImagesStep):
            uniqueFn = self._getUniqueFil

[2019-07-18 16:10] azazellochg opened #89 "wrong constants dict"
In constants.py:
XMIPP_RELION_LABELS_EXTRA dict has duplicate keys:
[code]
So only the last set of keys gets the value assigned.

The correct labels from relion are:

RLN_MLMODEL_SIGMA_ROT = rlnSigmaPriorRotAngle
RLN_MLMODEL_SIGMA_TILT = rlnSigmaPriorTiltAngle
RLN_MLMODEL_SIGMA_PSI = rlnSigmaPriorPsiAngle
RLN_ORIENT_ROT_PRIOR = rlnAngleRotPrior
RLN_ORIENT_TILT_PRIOR = rlnAngleTiltPrior
RLN_ORIENT_

[2019-07-20 14:27] azazellochg commented on #85
Thank you, @rmarabini !

[2019-07-20 14:27] #85 closed

[2019-07-20 14:32] #70 closed

[2019-08-08 07:45] pconesa opened #91 "particles.star from relion export particles not compatible with pyem"
From @andreanans, ported in Scipion repo: https://github.com/I2PC/scipion/issues/2024

Hi,

I noticed that the star file written out by 'relion export particles' is incompatible with the pyem scripts. I have to pass the star file through relion_star_handler to produce a star file in the correct format.

We often run this command:
csparc2star.py --copy-micrograph-coordinates particles.star particle

[2019-08-15 09:21] azazellochg commented on #41
I think we are missing more options than just this:
![Screenshot_20190815_102103](https://user-images.githubusercontent.com/6952870/63085853-6f740080-bf46-11e9-9ae5-eb70ecc550ed.png)

[2019-08-21 17:50] azazellochg opened #92 "wrong pix size set in ptcl extraction"
it looks like --set_angpix has to be set to input mics pixel size and not the output star file. I have 1A/px mics and rescaling particles upon extraction. I should get 1.88A/px but I get instead 3.53 in the output star file.

Relion output is misleading:
00475:    + Setting pixel size in output STAR file to 1.88437 Angstroms
...
00490:    Written out STAR file with 133959 particles in micrographs_

[2019-08-26 14:40] dmaluenda opened #93 "ProtRelionLocalRes is putted in a different place than other Resolution Estimators"
**Describe the bug**
Scipion defines a resolution subsection inside the 3D/Analysis section (see [here](https://github.com/I2PC/scipion/blob/d1a60f69960d1079bbbecde5bf3f5f4017b36927/pyworkflow/templates/protocols.template#L55)), whereas relion is defining its own section directly [inside 3D](https://github.com/scipion-em/scipion-em-relion/blob/a0c1f39da5a99393b5678b86594f692d71aea234/relion/protoc

[2019-08-27 15:20] azazellochg commented on #91
@andreanans, do you mind attaching examples of particles.star particles_selected.cs final_particles.star files? I do not use cryosparc or pyem, but I have installed pyem.

[2019-08-27 15:59] azazellochg commented on #91
Also, which column are you removing?

[2019-08-27 16:30] azazellochg commented on #91
Alright, I found the error: https://github.com/asarnow/pyem/blob/master/pyem/star.py#L260 - the string is not stripped before parsing. It will fail if you have a space before "_rlnColumnName..." @andreanans you should report it to pyem developer. Relion itself has no problems parsing such files.

 [Original STAR format definition](http://scripts.iucr.org/cgi-bin/paper?pii=S010876739101067X) does n

[2019-08-27 16:30] #91 closed

[2019-08-27 16:50] azazellochg commented on #87
@delarosatrevin I'm afraid to touch any import funcs, do you mind having a look? I think maybe we could put an equivalent of getUniqueFileName https://github.com/scipion-em/scipion-em-relion/blob/devel/relion/convert/convert.py#L660 here, but I might be wrong.

[2019-08-27 17:07] #93 closed

[2019-08-27 17:07] #92 closed

[2019-08-27 18:23] azazellochg opened #94 "rlnOpticsGroup"
Upon import we have new fields called _rlnOpticsGroupName #1 and _rlnOpticsGroup #2. First one is a string (defined in GUI), second is a number (auto-numbered by relion code). Example of star file is below:
![Screenshot_20190827_191311](https://user-images.githubusercontent.com/6952870/63797046-26855a00-c8ff-11e9-92fc-5642ab6738d0.png)

Imagine if you have a Relion3.1 project and you import two se

[2019-08-28 09:51] azazellochg opened #97 "missing help in postprocess viewer"
No help for few params in the viewer postprocess protocol.

[2019-08-28 13:39] andreanans commented on #91
Thank you so much, I spent tons of time trying to debug but didn't notice there was a space before _rlnColumnName etc. I'll send a message to the pyem github. Cheers

[2019-08-28 17:01] azazellochg opened #98 "motioncor: fix sampling for _PS.mrc (outputMicrographsPS)"
In motioncor the default output PS size is 512px, hence the pixel size has to be changed in _loadOutputSet of ProtAlignMovies(?). According to Relion,

[code]

[2019-08-28 18:46] delarosatrevin commented on #91
@asarnow Thanks a lot for the speedy fix!

I was curious and took a look at the reference provided by @azazellochg . In Table 1, the first definition is 'text string' which states that is a string delimited by blanks...so, all the following values are the same 'text string':
[code]
So, I understand from it that the correct parsing is to strip leading and trailing spaces from any line.
So, after th

[2019-09-03 09:19] azazellochg opened #100 "clean up results in extra folder"
1. protocol extract particles: remove links to mrc mics - probably in each step/batch?
2. symmetrize volume: move results to extra folder

[2019-09-24 14:12] Vilax opened #101 "Auto-Picking problem"
Dear all,

I tried to use a volume as Autopicking-reference (I know this sounds rare, but reading the help)

"Input references (SetOfAverages) for auto-pick.

Note that the absolute greyscale needs to be correct,
so only use images with proper normalization. From Relion 3.0 it is also possible to provide a 3D volume which projections will be used as references."

Thus, if a volume is introduced in

[2019-09-24 14:36] azazellochg commented on #101
@Vilax , it's not working at the moment, the 3d references support will be available together with relion 3.1 support, in the next plugin version.

[2019-09-25 09:20] delarosatrevin commented on #101
@Vilax In the meantime, you can project the volume into 2D gallery (I can't remember the exact name of the Xmipp protocol) and the use these 2D projections as reference for picking in Relion.

[2019-09-25 15:21] pconesa opened #102 "Bayesian polishing fails at createOutput step"
Hi!

**Describe the bug**
Protocol runs until the end (relion stuff seems to work fine) but the createOutputStep fails after a while

01901:   STARTED: createOutputStep, step 3
01902:     2019-09-22 14:19:59.647630
01903:   Traceback (most recent call last):
01904:     File "/home/virus/SOFTWARE/SCIPION/scipion2/pyworkflow/protocol/protocol.py", line 186, in run
01905:       self._run()
01906:

[2019-09-25 15:23] pconesa commented on #102
I can either send files or add print lines where you indicate to know more, let me know.

[2019-09-26 02:19] Vilax commented on #101
@azazellochg Thanks for your reply, we will wait until next release :)

@delarosatrevin thank you, that was exactly was I did :) the difference is that I imported references from classes

[2019-09-27 17:09] azazellochg commented on #102
@pconesa did you provide correct input movies (output from movie alignment protocol?) Did you use motioncor or relion to align movies? Could you attach shiny.star output from the protocol?

[2019-09-28 18:20] pconesa commented on #102
Not sure, I'll check on monday with the user

El vie., 27 sept. 2019 19:09, Gregory Sharov <notifications@github.com>
escribió:

[2019-10-02 09:29] pconesa commented on #102
@mcallende will join github and will anwser this, I'll be reading in case she needs help.

[2019-10-02 11:07] carolinaallende commented on #102
Hi @azazellochg,
-Yes, I did provide movies aligned from motioncor.
-Attached you can find the shiny.star output file

Let me know once you have checked it, thanks in advance.

[shiny.star.zip](https://github.com/scipion-em/scipion-em-relion/files/3680764/shiny.star.zip)

[2019-10-03 16:37] azazellochg commented on #102
Hi @carolinaallende , shiny.star looks okay to me. Could there be a mismatch between input particles and output ones? You have 136988 output particles, how many were did you input?

[2019-10-04 09:33] carolinaallende commented on #102
Hi @azazellochg, I input a total of 271489. I did not notice about that mismatch. Although I do not know what does that mean at all. Isn't the Bayesian polishing been executed in all particles then?

[2019-10-04 09:40] carolinaallende commented on #102
And why this would be related with the creation of the OutputStep?

[2019-10-04 09:52] azazellochg commented on #102
Output step is updating input particles, catching the new polished filename from output.
Yes, it should be executed on all particles. Could you post or attach full run.stdout here?

[2019-10-04 09:55] azazellochg commented on #102
The only reason I can think it discarded half of data because it couldn't find the corresponding movies, but maybe it's smth else.

[2019-10-04 10:09] pconesa commented on #102
Any local "action" you want me to do? @azazellochg

[2019-10-04 10:20] azazellochg commented on #102
@pconesa I need to see log files first

[2019-10-04 10:22] pconesa commented on #102
Ok, let me know if you need some local "eyes".

[2019-10-04 11:19] carolinaallende commented on #102
[runstdout.txt](https://github.com/scipion-em/scipion-em-relion/files/3690257/runstdout.txt)

Here I attach the runsdout!

[2019-10-04 11:21] azazellochg commented on #102
There we go:
[code]

[2019-10-04 12:01] pconesa commented on #102
I guess that we (most of the scipion protocols) should prevent this from failing. I understand why but the fact is that relion didn't failed but we did. @delarosatrevin , is there any way to make the createOutput robust to "missing items" with the actual "output creation tools/helpers"?

[2019-10-04 12:11] pconesa commented on #102
@azazellochg can you think of any hack to continue the protocol and get the output?

I guess we can tweak the input set to have only the existing movies.

[2019-10-04 13:10] azazellochg commented on #102
I am working on a quick fix, stay tuned

[2019-10-04 14:47] pconesa commented on #102
Great!, @carolinaallende will probably run it again since half of her particles didn't make it into the output. (She had the movies in 2 external HD and one was not mounted).

So, there is no need to rush it for her. Still I think it would be nice to tolerate missing items from scipion, if make sense, or at least the binary behind didn't failed.

I'm closing this. Many thanks @azazellochg

[2019-10-04 14:47] #102 closed

[2019-10-04 14:50] carolinaallende commented on #102
@azazellochg  thanks for your comments and 'diagnostic'. Revising the input data I realised that one of the hard discs containing the movies was not correctly mounted...  that is why half of the data was not found when importing the motioncor aligned movies... I will run the missing data again, i expect that now it will work!

Thank you very much @azazellochg

[2019-10-04 14:52] carolinaallende commented on #102
Thanks @pconesa for your support and suggestions too!!!

[2019-10-04 15:03] azazellochg commented on #102
Thank you both!

I will make a proper fix then!

Best regards,
Grigory

--------------------------------------------------------------------------------
Grigory Sharov, Ph.D.

MRC Laboratory of Molecular Biology,
Francis Crick Avenue,
Cambridge Biomedical Campus,
Cambridge CB2 0QH, UK.
tel. +44 (0) 1223 267228 <+44%201223%20267228>
e-mail: gsharov@mrc-lmb.cam.ac.uk

On Fri, Oct 4, 2019 at 3:52 PM

[2019-10-05 15:38] azazellochg commented on #101
Fixed in 6cab6b8648a482a141a1fee4a26c20d57d63ebd6

[2019-10-05 15:38] #101 closed

[2019-10-05 15:59] #97 closed

[2019-10-06 17:52] azazellochg opened #104 "motioncor: add batch options"
### Some possible improvements:
* Add batch options: this will require either a refactoring of the base class to support this or that we implement it ourselves for this protocol by re-implementing some of the base class methods.
* We can re-implement the Compute-PSD method to use and compose the already generated PSD from Relion, without calling Xmipp again to compute them.

[2019-10-22 20:15] azazellochg opened #105 "Relion postprocessing does not work with projection matching or highres"
Transferred from https://github.com/I2PC/scipion/issues/786. To be checked

[2019-10-22 20:18] azazellochg opened #106 "relion 2 "Inf" values in star files"
https://github.com/I2PC/scipion/issues/1110

[2019-10-22 20:43] azazellochg opened #107 "copy relion 3D classify"
https://github.com/I2PC/scipion/issues/702

[2019-10-23 10:40] delarosatrevin opened #108 "Crash when extracting ~1M particles"
**Describe the bug**
@JuhaHuiskonen has reported this issue here: https://github.com/I2PC/scipion/issues/2058

Log lines from the failed run with 1M particles:

[code]

From the error log it seems like a bug in the Xmipp metadata class, when trying to execute the line:
[code]

We might consider to replace the use of Xmipp's metadata class here.

[2019-10-24 08:31] gilcantero opened #109 "3D Auto-refine unexpected fail"
Hello, I am experiencing some problems regarding the 3D auto-refine protocol of Relion 3.0 in Scipion. When I run it with classes which come from a Relaxed Symmetry 3D Classification protocol (https://github.com/OPIC-Oxford/relion-relax) some classes failed during first iteration of the refinement. The error which appears is the following:

Expectation iteration 1
00141:   000/??? sec ~~(,_,">

[2019-10-24 08:51] gilcantero commented on #109
Hi Jose Miguel,
I am using 3 MPIs, 1 Thread, and two Nvidia Geforce GTX 1080 graphic cards. I have used this settings for other refinement with bigger boxsizes (the maximum I have tried is 450 pixels) and higher number of particles (~100k) for I2 Symmetry. For C1 symmetry (where I am having the issues now) I have also tried bigger boxsizes and number of particles (for example a I have a case with

[2019-10-24 08:52] gilcantero commented on #109
GPUs have 8Gb memory each one

[2019-10-24 08:56] delarosatrevin commented on #109
Hum...this configuration sounds good.
And it is weird that it fails for another case that seems smaller.
I'm not sure if there is any class-dependent thing that generates more
memory used in the GPU.
Are you using the --maxsig parameter?

Just to rule out possible issues, was this job running alone in the machine
at that time?

On Thu, Oct 24, 2019 at 10:52 AM gilcantero <notifications@github.com>

[2019-10-24 09:00] gilcantero commented on #109
No, I have not used  the --maxsig parameter, I will try.
Yes, It was the only job running I checked with nvidia-smi to be sure, should I check it other way?

[2019-10-24 09:08] delarosatrevin commented on #109
You should use:
--maxsig X
where X is a integer value (e.g 25)

On Thu, Oct 24, 2019 at 11:03 AM gilcantero <notifications@github.com>
wrote:

[2019-10-28 09:47] delarosatrevin opened #110 "Implement protocol wrapping flex_analyse to subtract one of the bodies after MultiBody"
Allow to subtract one of the bodies after relion - multibody refinement as described
in section 3.5 here: ftp://ftp.mrc-lmb.cam.ac.uk/pub/scheres/multibody_protocol.pdf

It can be implemented as a separated protocol, which input might be the multibody protocol and the selection of the body that should be kept. The output should be a set of particles with the signal from all bodies subtracted excep

[2019-11-06 08:18] delarosatrevin opened #111 "viewer for protocol 'relion - 3D initial model' shows only the first model of many"
The viewer for protocol 'relion - 3D initial model' shows only the first model and it seems the other models (if any) cannot be visualised through this function.

Reported by @JuhaHuiskonen in https://github.com/I2PC/scipion/issues/2064

[2019-11-06 16:01] delarosatrevin commented on #94
@azazellochg I think we need to get into Relion 3.1 without depending on changes in the core.
So, I propose that we introduce a protocol 'relion - assign optic groups' that set these fields for movies, micrographs or particles. In that way, we could move on and it should be ready if some of the properties are already set in the import, what do you think?

[2019-11-06 16:04] delarosatrevin commented on #109
@gilcantero Can we close this issue?

[2019-11-06 16:14] dmaluenda commented on #94
I agree with the idea of having a protocol to assign metadata. Talking about beam tilt with @pconesa and @cossorzano, we also arrived at this approach.

In this way, all is on the plugin side, but not in the core.

[2019-11-06 16:15] delarosatrevin commented on #94
Thanks for the feedback @dmaluenda. I really like the idea of keeping specific information in plugins and not the core.

[2019-11-07 10:53] gilcantero commented on #109
Yes, with your suggestion the problem was solved.

[2019-11-07 10:54] #109 closed

[2019-11-10 09:05] delarosatrevin opened #112 "Refine 3D fails when input comes from different folder"
This might be related to the new creation of the symbolic links that try to link only the root folder.

Reported by @JuhaHuiskonen in https://github.com/I2PC/scipion/issues/2066.

[2019-11-10 09:12] delarosatrevin opened #113 "Bug when generating the output after multi-body refinement"
Check specific project where this is happening and reproducible.

[2019-11-11 10:27] delarosatrevin commented on #112
Hi @JuhaHuiskonen I have fixed already this issue here: Fixed in f9a482b45a1ee156a

I'm planning to address a few other bugs (some reported by you as well ;)
and make a small plugin release after that. If you want to try this quickly,
you can switch to that branch or apply the commit difference directly.

[2019-11-11 10:27] #112 closed

[2019-11-11 12:53] delarosatrevin commented on #20
Fixed in 4785438dd73d.

I have created a nice decorator "@protected_show" that can be used to wrap show functions and if exceptions are raised, it will be shown as an error message.

[2019-11-11 12:53] #20 closed

[2019-11-11 12:54] delarosatrevin commented on #111
@JuhaHuiskonen I have fixed this in 4785438dd73d.

Now classes/iteration can be shown, and if the iteration number is incorrect an error message will be displayed. I would appreciate if you can test it and let me know if there still something that you are missing.

[2019-11-11 12:54] #111 closed

[2019-11-25 08:29] delarosatrevin opened #115 "Removed older binary versions"
As moving into Relion 3.1, we are planning to deprecate support for 2.0, thus removing also binaries installation.

@JuhaHuiskonen do you still need Relion1.4 binary? We are planning to remove that one as well from the installation options.

[2019-11-25 15:29] gilcantero opened #116 "Reconstruction issues when using Relion2 and 3"
Good afternoon,
When I run a 3D Classification using Relion 2 (more precisely a modification of it), I select the model I like (which is downsampled three times) and then I carry out an intersection with the original particles to have the particles from that class but at the original pixel size. I assign the angles from the classification to the non-downsampled particles and run an auto-refine or

[2019-11-25 15:33] delarosatrevin commented on #116
Hi,

There is a caveat when you use 'scipion - extract coordinates' (not sure if
you used it).
If you apply the computed shifts (from 2D or 3D classification/refinement)
then the new
coordinates are shifted, so you should not assign previous alignment in
that case.

Best,
Jose Miguel

On Mon, Nov 25, 2019 at 4:29 PM gilcantero <notifications@github.com> wrote:

[2019-11-25 16:28] azazellochg commented on #116
I think the better way is to extract coordinates without applying shifts and then use assign alignment.

[2019-11-25 17:06] gilcantero commented on #116
Hi, I have not used 'scipion - extract coordinates'. I did 'scipion - subset' using the original particles as "full set of items" and the refined downsampled particles as "other set" to do an intersection. Then I did 'scipion -  assign alignment' to have the refined angles on the original particles from the subset. But I will try, as you say, to reextract them without applying shifts and assign th

[2019-11-29 12:55] delarosatrevin opened #117 "Work in Relion 3.1 picking"
- [x] Add new param LoG upper thresold
- [x] Check other parameters (both 3.0 and 3.1)
- [ ] Check the insane amount of coordiantes given by LoG test in 3.1 (fine in 3.0)

[2019-12-06 21:27] Vilax opened #118 "movie alignment dose error"
Dear Sciponers,

I've tried to align a movie with relion motioncor. But I get next error, because the dose was not defined in the import protocol. The error always happens, even if the dose weighted is disable. In pyworkflow/em/protocol/protocol_align_movies.py, where the error comes considers that the movie has a dose parameter

Kind regards

Vilas

  STARTED: processMovieStep, step 2
00022:

[2020-01-04 21:41] azazellochg commented on #118
Thank you  @Vilax , fixed in 89548f178b4c747edb6f173781a80673a1a17f35

[2020-01-04 21:41] #118 closed

[2020-01-04 21:44] azazellochg commented on #115
1.x is gone, 2.x will be gone in Scipion 3 / relion 3.1 release. We do not have resources to support this.

[2020-01-05 08:27] JuhaHuiskonen commented on #115
We have no need for Relion 1.4 binary - LocalRec plugin is independent and doesn't require Relion binaries

[2020-01-05 08:27] #115 closed

[2020-01-05 17:18] azazellochg commented on #116
Hi @gilcantero ,

Auto-refine or cl3d will always start from random angles, unless you are doing local searches. It might not work if you start from non-downsampled data.

[2020-01-12 21:45] azazellochg opened #125 "pwem.tests.protocols.test_protocol_volume_homogenizer.TestVolumeHomogenizer failed"
[code]

[2020-01-16 13:18] JuhaHuiskonen opened #122 "rlnRandomSubset isn't assigned in 'scipion - alignment assign'"
When assigning alignment parameters, the random subset information is not passed.  It should be passed and it's important to do keep things strictly 'gold standard' for example when switching form binned particles to unbinned particles (which are often aligned only locally).

[2020-01-19 11:30] azazellochg commented on #125
should be fixed in https://github.com/scipion-em/scipion-em-relion/commit/d5410aa1630811b72825a90b31c2995a71253483

[2020-01-19 11:30] #125 closed

[2020-01-19 16:38] azazellochg commented on #94
@delarosatrevin subsets after assigning groups into Acquisition are not working..

[2020-01-20 21:16] #89 closed

[2020-01-23 18:32] #94 closed

[2020-01-24 15:17] #113 closed

[2020-01-26 18:54] azazellochg commented on #117
I didnt find log picker test

[2020-01-27 09:44] delarosatrevin commented on #117
I was using this test (a bit of a mixed workflow, but mainly relion):
scipion tests relion.tests.test_workflow_relion3.TestWorkflowRelion3Betagal

Now I'm getting a reasonable number of particles out of LoG picker. So, I'm closing this issue.
We can reopen if we have the problem again.

[2020-01-27 09:44] #117 closed

[2020-01-27 14:48] delarosatrevin opened #129 "Preprocess in R3.1 does not operate on star files anymore"
We need to update the protocol command line (and probably the convert) to operate on stack files rather than the star file.

[2020-01-27 15:37] delarosatrevin opened #130 "relion_sort_particles is gone in R3.1?"
Check if there is an alternative to sort program.

[2020-01-27 16:37] azazellochg commented on #130
It's gone from Gui

[2020-01-27 16:38] delarosatrevin commented on #130
I couldn't find the program binary neither

On Mon, Jan 27, 2020, 5:37 PM Grigory Sharov <notifications@github.com>
wrote:

[2020-01-29 12:05] delarosatrevin opened #132 "CTF - refinement:"
Review and update the protocol for Relion 3.1.

GUI  differences:
![ctf_refinement](https://user-images.githubusercontent.com/8441688/73641800-d8743f80-4670-11ea-9aae-bf8b472c809b.png)

[2020-01-29 18:46] azazellochg opened #133 "relion autopick is not loading?"
I can't find the protocol, only log picker is visible in GUI. verison 3.0. devel/master branch of the plugin

[2020-02-05 17:03] delarosatrevin commented on #132
Initial version working, now more deep testing and checking...passing it to @azazellochg :)

[2020-02-14 14:54] andreanans opened #136 "Gentle clean/harsh clean in reliom"
Hi,

Any chance that we will get the harsh and gentle clean options for Relion jobs?

Thank you

Andrea

[2020-02-18 08:21] JuhaHuiskonen opened #137 "'relion - reconstruct halfmaps' protocol"
When alignment is assigned to a different set of particles (for example on the original particle stack after focused classification using partial signal subtraction) there is no easy way to calculate the two half maps for post processing.

Could you please consider implementing 'relion - reconstruct halfmaps' protocol, which would take into account the original assignment to the two subsets (half

[2020-02-20 15:23] pconesa opened #138 "relion particle extraction fails in python3"
**Describe the bug**
relion particle extract is failing. I'm getting this:
00010:   Traceback (most recent call last):
00011:     File "/home/pablo/desarrollo/scipion-pyworkflow/pyworkflow/protocol/protocol.py", line 181, in run
00012:       self._run()
00013:     File "/home/pablo/desarrollo/scipion-pyworkflow/pyworkflow/protocol/protocol.py", line 1303, in _run
00014:       self._insertAllSteps(

[2020-02-20 15:25] pconesa commented on #138
ok, xmipp extraction fails too. MIght be a common problem. I'll have a look.

[2020-02-20 17:08] azazellochg commented on #138
Relion 31 + scipion 3 is now in pre-pre-pre-alpha, so most of protocols won't work at all.

[2020-03-01 16:54] azazellochg opened #139 "add external reconstruct option"
To refine3d in 3.1, so the SIDESPLITTER can be used.

[2020-03-02 08:48] pconesa opened #140 "motion corr fails with"
On behalf of one of our users:

**Describe the bug**
Some movies were aligned 14, I guess and then an error happened:
Exception: 'data_local_motion_model' block was not found

**Desktop (please complete the following information):**
 - Scipion version: 2.0
 - Relion plugin version : She is updated

**Additional context**

She also said that she was continuing several times getting more movies alig

[2020-03-02 08:53] delarosatrevin commented on #140
Thanks for reporting this @pconesa ! I have already encountered this issue and even better, I have the fix. I will try to put in in the next plugin release (not for Scipion 3)

[2020-03-02 09:26] pconesa commented on #140
Cool! I've asked Mar (user) to register and provide more data if needed!

[2020-03-02 09:27] delarosatrevin commented on #140
I think it is not needed for now. Thanks anyway.

On Mon, Mar 2, 2020 at 10:26 AM Pablo Conesa <notifications@github.com>
wrote:

[2020-03-02 09:33] pconesa commented on #140
MAy be she can install a branch an test it...I can guide her but will need the branch

[2020-03-02 09:52] marperezruiz commented on #140
Many thank @pconesa and @delarosatrevin for your response. It would be super if we can use the new branch (when it will be possible). Thanks ;)

[2020-03-02 10:02] delarosatrevin commented on #140
I will let you know when it is ready.

On Mon, Mar 2, 2020 at 10:52 AM marperezruiz <notifications@github.com>
wrote:

[2020-03-02 10:55] delarosatrevin commented on #136
Hi @andreanans , thanks again for your feedback. I will try to add this feature after the Relion3.1 support is complete.

[2020-03-02 12:55] delarosatrevin commented on #122
Hi @JuhaHuiskonen , I'm sorry for taking too long to look into this.
Indeed, the solution to this issue is in the base protocol 'assign - alignment' that belongs to scipion-em plugin and not scipion-em-relion. So, it is very like that this feature will not be officially available until the next release in Summer.

Anyway, here is the patch that you should apply in order to have the _rlnRandomSubse

[2020-03-07 17:37] azazellochg opened #141 "relion viewer cl2d plot changes doesnt work"
[code]

[2020-03-07 17:38] azazellochg opened #142 "relion viewer cl2d show classes in scipion"
gives:
[code]

[2020-03-07 17:49] azazellochg opened #143 "refine 3d viewer display angular dist broken"
[code]

[2020-03-07 17:57] azazellochg opened #144 "viewer cl3d show classes only"
Shows like 20 columns, so it would be good:
1) hide some by default
2) re-sort, since rendered representative filename should be at the beginning

[2020-03-08 16:37] azazellochg opened #145 "mask radius wizard not setting values"
[code]

[2020-03-08 16:40] azazellochg opened #146 "postprocess skip mask resize in convertInputStep"
if mask matches volume size

[2020-03-08 16:42] azazellochg opened #147 "postprocess viewer not working"
guinier plot broken:
[code]

[2020-03-08 16:46] azazellochg opened #148 "view in chimera not working"
we need to strip ":mrc" at the end of volumes before passing to ChimeraClientView

[2020-03-08 17:03] azazellochg opened #149 "add histograms to mc viewer"
for 3 types of motion

[2020-03-08 17:49] azazellochg opened #150 "add Allow coarser sampling option to 2d/3d cls"
New option in 3.1

[2020-03-08 17:50] azazellochg opened #151 "add Use finer angular sampling faster for ref3d"
new option in 3.1

[2020-03-08 18:34] azazellochg opened #152 "add Original detector pixel size to postprocess"
this is required for mtf file to work

[2020-03-09 14:39] gilcantero opened #153 "Relion Motioncor do not find the gain image"
**Desktop (please complete the following information):**
 - Scipion version: 2.0
 - Relion plugin version  1.0.8

Good afternoon, I am trying to run the relion implementation of motioncor in Scipion and it fails with the following error, that occurs in step 2 of the protocol (movies are tiff format. Gain image, also tiff format, is provided in the import movie step and it appears in the command la

[2020-03-14 16:50] azazellochg commented on #153
Hi @gilcantero , it looks like a backtrace from relion to me. If you look inside Runs/000212_ProtRelionMotioncor/tmp/movie_000001/ folder, can you check output star file? I would suspect that mc failed for a particular movie.

[2020-03-16 11:55] gilcantero commented on #153
This is the output star file of the other trial I did, that gives the other trial with the same error (I deleted some of the trials):

![imagen](https://user-images.githubusercontent.com/56260506/76755690-94eb1600-6784-11ea-99bf-e46801b21128.png)

Error message:
![imagen](https://user-images.githubusercontent.com/56260506/76756096-64f04280-6785-11ea-807a-ac6f82568baa.png)

[2020-03-16 12:07] azazellochg commented on #153
Could you try to run relion outside scipion on a single movie? I'm not sure that relion 3.0 support gain reference in tif format

[2020-03-16 12:36] gilcantero commented on #153
This is the error either I run relion implementation or not for only one movie:
![imagen](https://user-images.githubusercontent.com/56260506/76758893-e5fe0880-678a-11ea-8ebd-4ca40c892386.png)

This is the error when using relion for all of the movies:
![imagen](https://user-images.githubusercontent.com/56260506/76758950-01691380-678b-11ea-84cd-f413423a21bb.png)

[2020-03-16 13:16] azazellochg commented on #153
I see, the problem is that you have a space in path to the gain. I would create a symbolic link for the gain file in current folder.

[2020-03-16 13:59] delarosatrevin commented on #153
Grigory, we can also escape the path with quotes when creating the command
line.

On Mon, Mar 16, 2020 at 2:16 PM Grigory Sharov <notifications@github.com>
wrote:

[2020-03-16 14:05] azazellochg commented on #153
I wouldn't encourage bad practice of windows-style names, otherwise soon we
will have to deal with special characters. Relion doesn't support such
things and neither should we, imho.

Best regards,
Grigory

--------------------------------------------------------------------------------
Grigory Sharov, Ph.D.

MRC Laboratory of Molecular Biology,
Francis Crick Avenue,
Cambridge Biomedical Campus,
C

[2020-03-16 15:12] gilcantero commented on #153
The space in the path is because of the default name of the external disk and because Scipion saw the path well in the browser I did not pay attention to that, I'll do next time. I have copied one of the gridsquares in the internal HDD to avoid that as well as the possible error coming from the disk dismounting or whatever. As soon as I know if it works well I'll tell you.

[2020-03-16 15:19] gilcantero commented on #153
It is apparently working (in scipion), it has generated 2 aligned micrographs when before it did not generated anything .

Thank you very much.

[2020-03-16 15:21] delarosatrevin commented on #153
Thank you for your feedback!
We will make it more robust anyway.

Cheers.

On Mon, Mar 16, 2020 at 4:19 PM gilcantero <notifications@github.com> wrote:

[2020-03-23 16:22] gilcantero commented on #153
Hi, now it is aligning most of them, but it has failed in one of the imports (i'm doing each gridsquare with its gain image) with the next error
![errorRelionMotionCor](https://user-images.githubusercontent.com/56260506/77338415-a1461480-6d2a-11ea-9f95-e93691c55de2.PNG)

Do you know what can it be?

Thank in advance.

P.D. It is going pretty slow, is there any trick to speed it up apart from incre

[2020-03-23 18:58] azazellochg commented on #153
This error means movie alignment has failed for this particular movie, so
there are no local shifts. Please see relion tutorial on computation
parameters for motioncor.

Best regards,
Grigory

--------------------------------------------------------------------------------
Grigory Sharov, Ph.D.

MRC Laboratory of Molecular Biology,
Francis Crick Avenue,
Cambridge Biomedical Campus,
Cambridge CB2 0

[2020-03-24 08:59] delarosatrevin opened #156 "Reference picking radius wizard not working"
Two main problems:
* I think size in pixels and A is wrong. It is showing >100 px when the images are 64px, thus the A size is also wrong
* After accepting the wizard value, it is not properly set in the form

**To Reproduce**
Run a few steps of Relion betagal tutorial and use that wizard for picking with references.

**Expected behavior**
Properly size should be shown and the value set after sele

[2020-03-24 09:00] delarosatrevin commented on #156
@pconesa @JorMaister I think this is broken after the wizard changes, could you please take a look at this?

[2020-03-24 09:09] gilcantero commented on #153
Hi, I introduced the parameters equally to the other gridsquares and they are the same as in the tutorial (except for voltage, binning and dose). Besides, the whole protocol stopped after that error and it did not aligned the rest of the movies. Is there any way to solve it? At least to align the rest of the movies of that gridsquare if it has problem with that particular movie?

Thank you in adva

[2020-03-24 09:26] JorMaister commented on #156
I'll check it out. Thanks, @delarosatrevin

[2020-03-24 10:27] delarosatrevin commented on #156
This is the error in the console:
[code]

[2020-03-24 11:04] delarosatrevin commented on #156
It also happens in relion - initial model protocol, in the particle radius wizard.

[2020-03-24 14:00] azazellochg commented on #153
@delarosatrevin do you recall if this was fixed in some branch?

[2020-03-26 19:39] #152 closed

[2020-03-26 19:48] #146 closed

[2020-03-26 20:10] #147 closed

[2020-03-26 20:14] #133 closed

[2020-03-26 20:15] azazellochg commented on #130
it is gone in 3.1. Will remove the protocol soon as nobody uses it..

[2020-03-26 20:15] #130 closed

[2020-03-26 20:20] azazellochg commented on #116
@delarosatrevin  can we close this? there will be a new options (https://github.com/scipion-em/scipion-em/pull/70) to simplify these cases

[2020-03-26 20:24] azazellochg commented on #145
duplicate of https://github.com/scipion-em/scipion-em/issues/72

[2020-03-26 20:24] #145 closed

[2020-03-26 20:27] azazellochg commented on #122
@delarosatrevin is this fixed in scipion-em?

[2020-03-26 20:38] #148 closed

[2020-03-26 20:48] #142 closed

[2020-03-26 20:59] azazellochg commented on #141
This fails because md.RLN_OPTIMISER_ACCURACY_TRANS was replaced by md.RLN_OPTIMISER_ACCURACY_TRANS_ANGSTROM

[2020-03-27 22:00] azazellochg commented on #138
@pconesa I have just checked with/without streaming and it works

[2020-03-27 22:01] #138 closed

[2020-03-27 22:02] azazellochg commented on #106
I guess this will never be solved

[2020-03-28 11:19] pconesa commented on #138
Leave it closed, it happens when some mics are not picked or ctfs are a subset. I have the fix and is in the parent class, will hapen for relion and xmipp.

[2020-03-28 16:56] azazellochg commented on #144
hm, not reproduced....

[2020-03-28 16:56] #144 closed

[2020-03-28 17:06] azazellochg opened #157 "ptcl extraction removed param"
It looks like --set_angpix is gone in current relion31 beta branch. rlnMicrographPixelSize should be used instead

[2020-03-29 15:00] azazellochg opened #158 "relion_refine and masks"
Now relion itself check pixel size, boxsize and min-max for the masks:
[code]
So we need to remove xmipp thresholding. I would also remove any mask size auto scaling because xmipp still cannot write pixsize into mrc header.

[2020-03-29 22:09] azazellochg opened #160 "relion_reconstruct improvements"
The following two new options are worth adding:
- --subset (-1) : Subset of images to consider (1: only reconstruct half1; 2: only half2; other: reconstruct all)
- --class (-1) : Consider only this class (-1: use all classes)

[2020-03-30 18:03] azazellochg commented on #158
Fixed in #159

[2020-03-30 18:03] #158 closed

[2020-03-30 18:52] #150 closed

[2020-03-30 18:52] #151 closed

[2020-03-30 18:58] azazellochg opened #161 "add skip gridding param"
Next to skip padding, which we have already. At some point we might add it, so far user has to specify it in extra parameters option.

[2020-03-31 20:47] #140 closed

[2020-03-31 20:51] azazellochg commented on #140
@pconesa @marperezruiz sorry for taking so long, the error is fixed in the latest plugin release.

[2020-03-31 20:57] azazellochg commented on #29
This is still not  in the GUI, so I guess this is a low-priority issue

[2020-03-31 21:21] azazellochg commented on #19
Transferred to xmippViz repo

[2020-03-31 21:21] #19 closed

[2020-03-31 22:56] azazellochg commented on #105
Just checked with relion 3.1/scipion3:

1) TestRelionPostprocess.test_postProcess_from_projMatch is working. However, proj matching protocol is broken in scipion-em-xmipp, so I can't test it properly.
2) I just ran highres test and then postprocess, it works.

Feel free to reopen if required

[2020-04-01 03:48] pconesa commented on #140
Thank you @azazellochg , I can see there is a release for production scipion.
@marperezruiz , you can get it by typying:

 `scipion installp -p scipion-em-relion`

Check 1.0.9 version is installed and current uninstalled:

[code]

[2020-04-01 07:13] marperezruiz commented on #140
Thank you very much @azazellochg @delarosatrevin @pconesa !!

[2020-04-06 09:31] pconesa commented on #116
Hi, alignment assing, will apply only the decimal part of the shifts, if user activates the option (advance).
Additionally, we have modified the "apply shifts" in extract coordinates to be also "advance".

[2020-04-06 09:35] pconesa commented on #116
Just to be clear; If you extract coordinates applying shifts, only the integer part fo the shifts are taken into account to avoid interpolation. So there will be a mismatch by the decimal part, that will try to compensate the alignment assign in Scipion 3.

[2020-04-18 16:53] azazellochg opened #165 "import particles from star relion 31 not working"
We must check import coords (should work for 3.1 since format hasn't changed) and particles. The latter one requires https://github.com/scipion-em/scipion-em-relion/pull/164 to be addressed.

[2020-04-18 16:55] azazellochg opened #166 "export particles with writing out multiple stacks - 3.0"
Writes out binary stacks twice. To reproduce run relion 3.0 export test.

[2020-04-18 16:56] azazellochg commented on #157
Fixed in 225c268c5360f0c5064cad96736d8d8fa9f15ad2

[2020-04-18 16:56] #157 closed

[2020-04-18 17:00] azazellochg commented on #129
Already done by @delarosatrevin

[2020-04-18 17:00] #129 closed

[2020-04-20 16:46] #160 closed

[2020-04-21 17:34] #82 closed

[2020-04-21 22:20] azazellochg commented on #76
@delarosatrevin feel free to re-implement this using new convert module.

[2020-04-21 22:20] #76 closed

[2020-04-21 22:25] #116 closed

[2020-04-21 22:37] #122 closed

[2020-04-22 14:08] azazellochg commented on #153
This is fixed in the latest plugin 1.0.9 version

[2020-04-22 14:08] #153 closed

[2020-04-22 15:57] #143 closed

[2020-04-22 16:05] azazellochg commented on #139
The --external_reconstruct is a boolean, the value is defined in RELION_EXTERNAL_RECONSTRUCT_EXECUTABLE env var. I suppose this can be done in scipion via "Additional arguments" option.

[2020-04-22 16:05] #139 closed

[2020-04-22 16:21] #66 closed

[2020-04-23 14:17] azazellochg commented on #141
Fixed in #167

[2020-04-23 14:17] #141 closed

[2020-04-23 18:02] azazellochg opened #168 "extend Table class"
sorted by priority:
1) md.iterRows(fn,  sortByLabel=XXX) replacement - used in many-many protocols
2) md.removeLabel - to remove a column - used in two places to remove magnification and duplicated imageId
3) md.copyColumn - used in base to copy angles to priors
4) md.SetMdIterator - used when we dont copy all input items to output.

[2020-04-25 21:09] azazellochg commented on #149
not needed.

[2020-04-25 21:09] #149 closed

[2020-05-17 17:09] azazellochg commented on #106
Fixed using new Table class.

[2020-05-17 17:09] #106 closed

[2020-05-17 17:22] azazellochg commented on #100
same as #136

[2020-05-17 17:22] #100 closed

[2020-05-17 18:01] azazellochg opened #172 "add option to show unfiltered halves"
for refine 3d viewer if the iter=last
requested in https://github.com/I2PC/scipion/issues/1388#issuecomment-519430948 by @JuhaHuiskonen

[2020-06-05 20:39] azazellochg opened #177 "conversion error in 3.0"
I think the imports are somehow wrong,
[code]

Any ideas, @delarosatrevin ?

[2020-06-08 16:48] azazellochg opened #179 "TestRelionWriter.test_particlesToStar fail"
[code]

[2020-06-08 16:52] #165 closed

[2020-06-09 07:50] delarosatrevin commented on #177
Fixed in c088aea

[2020-06-09 07:50] #177 closed

[2020-06-09 07:51] delarosatrevin commented on #179
Fixed in 3e7667a

[2020-06-09 07:51] #179 closed

[2020-06-09 10:17] delarosatrevin commented on #166
Fixed in 01f02ff

[2020-06-09 10:17] #166 closed

[2020-06-09 12:05] delarosatrevin commented on #87
It is almost one year since this issue. @ldelcano Can you check if the issue still persist? There has been some changes since that time.

[2020-06-09 16:29] ldelcano commented on #87
I can verify in scipion2 but not in scipion3.

[2020-06-10 05:49] delarosatrevin commented on #87
Not in Scipion3 means that you haven't tested or that it is not happening?
Could you try to test in Scipion3?

[2020-06-10 05:56] ldelcano commented on #87
I am no longer developing in scipion and I haven't even tried to install scipion3 so it might take me long time to do it, which I do not have... but I will talk to Pablo and if it is easy I can do it.

[2020-06-10 07:11] delarosatrevin commented on #87
Thanks @ldelcano , I will close this issue until further notice.

[2020-06-10 19:25] azazellochg opened #183 "3.0 import particles fail"
[code]

[2020-06-10 20:58] #183 closed, assigned to delarosatrevin

[2020-06-11 07:39] ldelcano commented on #87
I am afraid this problem is still happening. I have created a star file with 4 particles (spi), splitted in two folders where names are equal and when I import them, all appear in particles.sqlite but links on extra folder are only 2. See attached files.
[Test.txt](https://github.com/scipion-em/scipion-em-relion/files/4763302/Test.txt)
![Screenshot_scipion](https://user-images.githubusercontent.co

[2020-06-17 18:10] azazellochg opened #186 "TestReconstruct.test_reconstRotandShiftFlip fail"
[code]

[2020-06-21 14:49] azazellochg opened #187 "deprecate getLibFolder() and getIncludeFolder()"
https://github.com/scipion-em/scipion-em-relion/blob/4e120dd18b2d579021bb42f3cb832bc96ddf2ecc/relion/__init__.py#L91

they do not have any libs anymore except xmipp

[2020-06-25 08:49] azazellochg opened #188 "assign optics doesnt support streaming"

[2020-06-25 09:00] delarosatrevin commented on #188
I will work on this as soon as I finish the OpticsGroup re-factoring. This issue is very important since it is blocking right now the streaming if one wants to use Relion Motioncorr.

[2020-06-25 14:39] azazellochg opened #189 "extract particles creates empty stacks"
3.1
no streaming, batch size 0 (all). Running `04378:   mpiexec -mca orte_forward_job_control 1 --oversubscribe -n 48  `which relion_preprocess_mpi`  --i micrographs_00001-01532.star --part_star micrographs_00001-01532_particles.star  --coord_dir "." --coord_suffix .coords.star --part_dir "." --extract  --extract_size 128 --bg_radius 27 --invert_contrast --norm --scale 64`

What happens is that ex

[2020-06-25 14:50] azazellochg commented on #189
![image](https://user-images.githubusercontent.com/6952870/85742918-8b663800-b6fb-11ea-91a5-ea62cb83554c.png)

[2020-06-29 14:44] pconesa opened #191 "Multibody refinement not working..."
It probably is worth doing this en scipion3 but just in case. We were getting this error:

Is a validation error.

https://github.com/scipion-em/scipion-em-relion/blob/devel/relion/protocols/protocol_multibody.py#L264

For some reason (probably saving time) we comment multi-body refinement test in buildbot. We are going to rescue it and see if it works.

Should it be working?
![multibody](https://

[2020-07-01 09:20] rmarabini opened #192 "chimera show angular distribution does not longer work"
**Describe the bug**
I already commented on this bug in slack but I just report it here:  the viewer of "relion 3D classification" does not work any longer for the option "Display angular distribution - chimera"

**To Reproduce**
Steps to reproduce the behavior:

   Execute protocol relion 3D classification
   open Analize
   select Display angular distribution - chimera
   chimera opens briefly a

[2020-07-02 11:54] azazellochg commented on #191
Why / how are you using scipion 2 with devel plugin branch?

[2020-07-02 17:35] pconesa commented on #191
Nope, this is not devel branch is released code: Scipion2 + scipion-em-relion at pypi for Scipion2.

[2020-07-02 17:37] pconesa commented on #191
I guess the right link is this one: https://github.com/scipion-em/scipion-em-relion/blob/support/relion/protocols/protocol_multibody.py#L273

[2020-07-02 19:02] #186 closed

[2020-07-02 20:21] azazellochg commented on #191
Tests files are not for 3.1, so the buildbot test will fail. Scipion 3 + relion 3.1 the protocol starts but I have not waited for it to finish. I won't be fixing scipion 2 anymore, so any volunteering is welcome.

[2020-07-03 18:15] azazellochg commented on #189
couldn't reproduce with tutorial dataset, will need to look more.

[2020-07-03 18:15] #187 closed

[2020-07-03 18:15] #132 closed

[2020-07-03 18:18] azazellochg opened #194 "ctf refine viewer"
need to check options depending on protocol params, also output beam tilt fns are wrong.

[2020-07-04 11:09] azazellochg opened #195 "replace funcs from convert_deprecated"
- [ ] writeSetOfCoordinates https://github.com/scipion-em/scipion-em-relion/blob/devel/relion/protocols/protocol_export_coords.py#L63
- [ ] splitInCTFGroups https://github.com/scipion-em/scipion-em-relion/blob/devel/relion/protocols/protocol_base.py#L1146
- [ ] writeReferences https://github.com/scipion-em/scipion-em-relion/blob/devel/relion/protocols/protocol_autopick_ref.py#L378
- [ ] use Reader

[2020-07-06 14:02] azazellochg opened #196 "assign optics issues"
More things to address:

- [x] assignment doesnt work. To reproduce: assign optics from gui or star file to a set of imported movies. Launch motioncorr  -> after convertinput optics table has default values instead of assigned ones. Basically, opticsgroupinfo is empty for output movies from assign protocol.
- [x] do we force users to have data_micrographs table in the input star? So, they cant hav

[2020-07-10 14:39] delarosatrevin commented on #188
Finally, we have agreed that this protocol does not need to work in streaming. The idea is that during streaming, a single, default optics group will be created and later in the processing, the real optics groups should be assigned.

[2020-07-10 14:39] #188 closed

[2020-07-10 14:41] delarosatrevin commented on #168
@azazellochg Do we need this feature of Table class now for Relion 3.1? If not, I would close this issue  and open a new one that we can tackle after the plugin release.

[2020-07-10 14:43] delarosatrevin commented on #194
@azazellochg Can you describe better this issue? I can try to take a look and fix it.

[2020-07-12 19:56] azazellochg commented on #194
@delarosatrevin the viewer shows defocus button even if protocol was not used to refine defocus. Also 2 beamtilt output images have changed their names

[2020-07-17 07:25] pconesa commented on #191
We are testing relion multibody refinement.....
Scipion3 - relion 3.0.0b1.

We are getting:
ERROR: not all necessary variables defined in _optics.star file: rlnPixelSize, rlnVoltage and rlnSphericalAberration. Make sure to convert older STAR files anew in version-3.1, with relion_convert_star.

The refinement protocol was a 3.0 one.

Is this not compatible?

[2020-07-17 07:53] azazellochg commented on #191
The error says you are using relion 3.1
To go to 3.1 you need to either convert and reimport particles or try
assign optics protocol and then try multibody.

Best regards,
Grigory

--------------------------------------------------------------------------------
Grigory Sharov, Ph.D.

MRC Laboratory of Molecular Biology,
Francis Crick Avenue,
Cambridge Biomedical Campus,
Cambridge CB2 0QH, UK.
tel.

[2020-07-17 07:58] delarosatrevin commented on #191
Grigory, I think that we are converting the particles and we should
generate a proper optics table. With the latest changes, there is no need
for assign-optics protocol.

On Fri, Jul 17, 2020 at 9:53 AM Grigory Sharov <notifications@github.com>
wrote:

[2020-07-17 07:58] pconesa opened #197 "relion refine 3.1 (devel) does not write star file."
**Describe the bug**
I'm trying to run a new (not from another refine) relion refine and is failing at the convertInputStep.

**To Reproduce**
Steps to reproduce the behavior:
running relion refine. maybe the input data affects

**Desktop (please complete the following information):**
 - Scipion version: [e.g. 3.0]
 - Relion plugin version branch devel (installed now)

File 'Runs/025153_ProtRelion

[2020-07-17 08:26] azazellochg commented on #197
relion version?
Runs/016125_ProtRelionBayesianPolishing was done in which relion version?

[2020-07-17 11:49] pconesa commented on #191
I'm confused.

Should it work with particles from relion3.0?

If not.....can it be validated to get intructions , otherwise this is going to be a frequent issue?

[2020-07-18 20:48] azazellochg opened #200 "default pixel size column in optics table should depend on the set type"
[code]

[2020-07-19 08:58] azazellochg commented on #197
Bug confirmed, there's a problem with converting

[2020-07-19 09:13] delarosatrevin commented on #197
I'll take a look at this tomorrow.

On Sun, Jul 19, 2020, 10:58 AM Grigory Sharov <notifications@github.com>
wrote:

[2020-07-19 14:28] azazellochg commented on #197
@delarosatrevin I have a different error: 00040:   ERROR  The reference box size is 256 px, but the box size of the first optics group of the data is 182 px! I cant seem to find where does it get wrong image size

[2020-07-19 16:28] azazellochg commented on #194
For mag dist correction we need to display:
![image](https://user-images.githubusercontent.com/6952870/87879755-889df080-c9e4-11ea-8852-10fdfc392377.png)

- mag_disp_x_fit_optics-group_1.mrc
- mag_disp_x_optics-group_1.mrc
- mag_disp_y_fit_optics-group_1.mrc
- mag_disp_y_optics-group_1.mrc

For beamtilt we need to display:

- aberr_delta-phase_iter-fit_optics-group_1_N-4.mrc
- aberr_delta-phase_li

[2020-07-25 17:07] azazellochg commented on #197
I have fixed my error. @pconesa could you tell Runs/016125_ProtRelionBayesianPolishing was done in which relion version? or how did you get it?

[2020-07-25 21:54] pconesa commented on #197
Very likely scipion2, relion3.0

[2020-07-25 21:56] azazellochg commented on #197
Thanks, I'll try my best to reproduce it

On Sat, Jul 25, 2020, 22:54 Pablo Conesa <notifications@github.com> wrote:

[2020-07-27 13:03] pconesa commented on #197
Extract of the log--> Doicletian -->Scipion2 relion3.0.

^[[32mRUNNING PROTOCOL -----------------^[[0m
     HostName: scipioncovid19
          PID: 47761
      Scipion: v2.0 (2019-04-23) Diocletian
   currentDir: /vol-sw-project/covid-19_3207
   workingDir: Runs/016125_ProtRelionBayesianPolishing
      runMode: Restart
          MPI: 1
      threads: 30
 Starting at step: 1
 Running steps
^[[35mST

[2020-07-29 09:16] #194 closed

[2020-07-29 09:18] azazellochg opened #206 "relion.tests.test_convert_relion.TestReconstruct fails"
Either something is wrong or just a px vs Angstroms issue in 3.1

[2020-08-05 21:12] cossorzano opened #209 "Subtract projection protocol not working"
When calling subtract projection, the protocol complains

00013:   STARTED: convertInputStep, step 1, time 2020-08-05 23:04:49.436859
00014:   Traceback (most recent call last):
00015:     File "/home/coss/scipion3/scipion-pyworkflow/pyworkflow/protocol/protocol.py", line 188, in run
00016:       self._run()
00017:     File "/home/coss/scipion3/scipion-pyworkflow/pyworkflow/protocol/protocol.py",

[2020-08-07 16:22] rmarabini opened #210 "motioncorr"
Hi @pconesa, @azazellochg  and @delarosatrevin

  I am writing in relation to motioncorr2. As you may know we have a protocol (report-html) that makes available a summary of the image processing using a web server. This protocol uses different images computed by mationcorr2 that are not available (at least with the same name) in motioncorr2 run through relion.

 The images needed are:

 1) a thumb

[2020-08-08 12:25] azazellochg commented on #210
Hi @rmarabini ,

I'm not interested in adding xmipp back to relion plugin as we are trying to get rid of it as much as possible. Using xmipp (there is nothing else at the moment) to calculate 1 and 2 makes any mc protocol much slower.
Both mc2 and relion mc make now shift per frame global plot for all movies which I find more useful. Relion mc protocol does not calculate any of 1/2/3 images.

[2020-08-08 18:10] azazellochg commented on #206
wrong image size is fixed, now only TestReconstruct.test_reconstRotandShiftFlip is failing

[2020-08-09 07:38] delarosatrevin commented on #210
@rmarabini Thanks for your feedback. I think that maybe you could add this functionality to the report HTML protocol.  In that. way you can have this information without the need to force each MC protocol to implement it.

[2020-08-09 17:50] rmarabini commented on #210
Hi @delarosatrevin, @azazellochg and @pconesa,

  So far there are three protocols able to align movies in scipion  (motioncorr, relion-motion-correction and xmipp-correlation) The three of them are able to create PSDs and shift plots which are the information I need to report but these data is not stored as a scipion object so I do not have access to them from another protocol. I think a possible

[2020-08-09 21:04] azazellochg commented on #209
Hi @cossorzano, we have decided that we will not provide support and bugfixes to relion 3.0 anymore. So this won't be fixed.

[2020-08-09 21:04] #209 closed

[2020-08-09 21:14] azazellochg commented on #191
ok, there are few issues here:

1) an original error in support branch for scipion2.0/relion30 (I don't think @delarosatrevin and me can support this any longer)
2) scipion3.0 error when going from 3d ref in relion30 to mb in relion31 (we have to check this)
3) scipion3.0 mb protocol for relion 3.1 (it's working as you recently confirmed on slack)
4) test for mb and relion31 (test files need updat

[2020-08-10 21:10] pconesa commented on #191
Thanks!

I think 1 can be discarded

2 I guess is useful for users with data in relion30 that con to continue in relion 3.1 but you know the details and if is worth supporting it or not. If not I'd, at least , inform users about it if possible to detect a relion30 refine as input of relion3.1 mb.

3 great, seems to work!

4. Is up to you if you want build it to test it. Now is excluded due to lack

[2020-08-15 19:10] azazellochg commented on #197
hm, I ran polishing in 3.0 (scipion3) and then launched ref3d in 3.1 (scipion3). No errors in conversion..

[2020-08-25 09:39] delarosatrevin opened #212 "Bayesian Polishing failing for some dataset"
**Describe the bug**
Bayesian polishing is failing with the. following issue:

[code]

**To Reproduce**
Just happened with a 1000 movies dataset, it does not seem to happen with the tutorial

[2020-08-25 12:25] delarosatrevin opened #213 "CTF manual grouping is not working in Relion"
**Describe the bug**
CTF manual grouping is not working in Relion, it is using xmipp Metadata class and overwriting the optics table.

[2020-08-25 12:29] azazellochg commented on #213
part of https://github.com/scipion-em/scipion-em-relion/issues/195

[2020-08-26 08:00] JuhaHuiskonen commented on #172
Thanks!

[2020-08-26 08:00] #172 closed

[2020-08-26 11:38] delarosatrevin commented on #212
There were a couple of issues here:
* the micName should be used to really map between particles and movies and metadata star file
* the local motion block should be written per movie and the whole block omitted if not coefficients (that is what happens for movies that fail to align)

[2020-08-27 08:44] delarosatrevin commented on #212
Fixed in c5425ee97b56f2988cd139338fdc50b54fca6872

[2020-08-27 08:44] #212 closed

[2020-08-27 11:46] delarosatrevin commented on #213
Fixed 4ae313a575a22eae2cd10e12b7954a79227fac4b

[2020-08-27 11:46] #213 closed

[2020-08-27 11:55] delarosatrevin commented on #197
@pconesa Do you have seen this issue pop-up again? We have recently run many refine 3d (tutorial and real data sets) and it is working. If not, we should close this and open a more specific issue.

[2020-08-27 11:59] azazellochg commented on #197
@delarosatrevin the isuue is going from scipion 2 + relion30 to scipion3 + relion31. I don't think you ran those :)

[2020-08-27 12:23] delarosatrevin commented on #197
No, you are not...I haven't run this sequence, but I might try as well. @pconesa Could you try to provide more context the the origin of the input set of particles?

[2020-08-27 12:25] delarosatrevin commented on #196
@azazellochg Could you please take a look to check which of these points remains?

[2020-08-27 12:27] azazellochg commented on #197
@delarosatrevin As far as I understood @pconesa ran polishing in scipion2 then opened the project in scipion3 and tried to run 3d refine.

[2020-08-27 12:28] delarosatrevin commented on #191
What is the status of this issue?
@pconesa could you try this again?

[2020-08-27 12:35] azazellochg commented on #191
@delarosatrevin we need to check (2)

[2020-08-27 13:02] delarosatrevin commented on #200
Fixed in 6b57f989e2a7304abada54eb69d3e86dd1254f64

[2020-08-27 13:02] #200 closed

[2020-08-27 14:36] pconesa commented on #197
@azazellochg is right. There was a project created mostly with scipion2 (almost completed). Multibody was failing in scipion 2 so we tried to run it under scipion3 code.

I think @azazellochg  suggested me to feed multibody with refinement also run with scipion3 code. So that is what I did and reported here.

The feeder for the refinement was a existing bayesian polishing (scipion2 + relion 3.0)

[2020-08-30 14:50] azazellochg commented on #168
It is used in polishing output step. It would be good to replace xmipp at some point

[2020-08-30 16:34] #196 closed

[2020-08-30 16:45] delarosatrevin commented on #168
Ok, I will take another look, it didn't  seem too complicated  to implement.

[2020-08-31 07:58] delarosatrevin commented on #206
@rmarabini Could you please help us with this issue? You wrote these convert tests and you might find more easily what is failing.

[2020-09-01 16:44] rmarabini commented on #206
hi @delarosatrevin I  am looking it it.

[2020-09-01 18:03] rmarabini commented on #206
Hi @delarosatrevin   and @azazellochg,

     I have good news and bad news The good ones is that the test fails when there is a flip in a set of angles assigned to projections. As far as I know nobody uses flips in this situation, flips are used for  2D align but not for 3D reconstruction. That is,   in practical terms this error has no consequence.

  Nevertheless I would like to understand what

[2020-09-01 18:38] delarosatrevin commented on #206
@rmarabini, Thanks a lot for looking into this. It is good to know that the error is not so much relevant, still would be good to understand. Please keep us posted.

[2020-09-02 18:08] rmarabini commented on #206
hi again Hi @delarosatrevin and @azazellochg,,

   I have looked to the test more carefully and I think this is what is going on:

The test fails when processing the matrix

                 [[-0.04341204, -0.82959837,  0.5566704,   7.42774284],  # -50, -40,-30
                  [-0.90961589,  0.26325835,  0.3213938, -20.82490128],
                  [0.41317591,  0.49240388,  0.76604444,  3.339479

[2020-09-02 20:20] delarosatrevin commented on #206
Thanks a lot, @rmarabini !!!
I agree with you that we should not complicate things more and we should not support flip in 3D.
Is the determinant already computed in the geometryFromMatrix function?

More practically, should we just remove this test from relion.convert tests?

[2020-09-03 07:17] rmarabini commented on #206
Hi @delarosatrevin ,

   I do not think the determinant is computed. although it would be trivial to do so

import numpy as np
np.linalg.det(a)

where a is the transformation matrix.

Yes, remove (or comment out) the test

[2020-09-03 08:40] delarosatrevin commented on #206
Thanks @rmarabini
I was asking if it was already computed because of performance.
So I think will be better to just ignore flip in 3D.

[2020-09-03 15:30] azazellochg opened #215 "fix picking wizard"
[code]

[2020-09-06 09:29] azazellochg commented on #206
Hi @rmarabini thank you so much for digging into this! I removed the test 9859952530d665e63bd856e835d171176492f752

[2020-09-06 09:29] #206 closed

[2020-09-09 15:07] fonsecareyna82 opened #219 "Relion - Extract Particles fail"
**Describe the bug**
Got unexpected field names: ['rlnImagePixelSize']

**Screenshots**
![Captura de pantalla de 2020-09-09 17-04-25](https://user-images.githubusercontent.com/34970661/92616839-fe288d80-f2be-11ea-9e1b-43427cc0fccd.png)

[2020-09-09 16:32] azazellochg commented on #219
Thanks @fonsecareyna82 , which version of plugin is this?

[2020-09-09 16:33] azazellochg commented on #219
Also, is this streaming?

[2020-09-10 07:06] fonsecareyna82 commented on #219
I just ran the test. I have the devel branch installed in developer mode. You can see the error also in buildbot. It's the only relion test that fails.
http://scipion-test.cnb.csic.es:9980/#/builders/54/builds/393

[2020-09-22 10:30] azazellochg opened #220 "3d cls failed"
Reported by Marcos Gragera

Hi all! I had this error message when doing a 3D classification with particles and initial model from a previous 3D auto-refine. Both 3D classification and auto-refine were performed in relion 3.1 within scipion (devel branch and updated)

the bug happens when "Consider previous alignment? " and "Consider alignment as priors?" are both YES. If "Consider alignment as pri

[2020-09-26 19:31] azazellochg commented on #220
bug confirmed

[2020-09-26 20:28] #220 closed

[2020-09-27 20:26] azazellochg commented on #219
@delarosatrevin the problem is that updateAll tries to update non-existing rlnImagePixelSize, but there is rlnMicrographPixelSize.
[code]

[2020-09-30 10:51] gilcantero opened #221 "3D Classification visualization"
Good morning,
I run a relion 3D classification after expanding particles (13M of particles), with a box size of 200px, 12 clases and without aligning.  When it finished I clicked on analyzed results, then in the eye to visualize in chimera and no problem, but when I do the same for view the clases with its number of particles,etc, to save those I want to work with, the eye becomes red when pressed

[2020-09-30 14:02] azazellochg commented on #221
Hi @gilcantero , you could try to increase java memory setting

JAVA_MAX_MEMORY = 4

in your <scipion home>/config/scipion.conf where 4 is in Gb of RAM, though not sure if so many particles will open..

[2020-10-02 08:40] gilcantero commented on #221
Hi @azazellochg, I have changed JAVA_MAX_MEMORY to 4 as you said and it was still too low. I have changed to 20 and now it opens, so thank you very much!

David.

[2020-10-02 08:47] azazellochg commented on #221
Great!
The Scipion performance with big datasets is a known issue, which we hopefully will start working on soon.

[2020-10-02 08:47] #221 closed

[2020-10-09 09:25] vabrishami commented on #197
@azazellochg @pconesa @delarosatrevin I have the same issue. So here is a summary:

I did before localized reconstruction in Scipion 2.0 + Relion 3.0 (from defining sub-particles to sub-particles classification and refinement). Now, I wanted just to repeat the refinement part since a user reported a bug related. But at the very beginning of refinement, I have this error:

/envs/.scipion3env/lib/py

[2020-10-09 09:29] delarosatrevin commented on #197
Thanks @vabrishami. I will try to take a look at this later today.

[2020-10-16 16:01] rmarabini opened #225 "relion-subtract"
Hi @azazellochg,

    I have installed scipion-em-relion with relion 3.1. When I try to execute the protocol relion_subtract I see that it does not longer use the program relion_project but it uses relion_subtract_particle.

  relion_subtract_particle uses as input a relion optimizer file, in the current implementation this file is not generated  on the fly but copied from a previous relion 3D exe

[2020-10-17 20:06] JuhaHuiskonen opened #228 "Relion 2D classification with "Do manual group ctfs" fails"
When the option "Do manual group ctfs" is set to Yes, 'relion -2d classification' fails with the following error:

028:     File "/projappl/project_2000637/apps/Anaconda-3.0/envs/.scipion3env/lib/python3.8/site-packages/relion/convert/convert_deprecated.py", line 597, in splitInCTFGroups
00029:       oldDefocusU = mdAll.get(md.RLN_CTF_DEFOCUSU, mdAll.firstObject())
00030:   AttributeError: 'xmipp.

[2020-10-17 20:17] JuhaHuiskonen opened #227 "Relion 2D classification with advanced option 'consider alignment as priors' fails"
When 'consider previos alignment' and 'consider alignment as priors'(advanced option) are set to yes, the run fails:

00026:     File "/projappl/project_2000637/apps/Anaconda-3.0/envs/.scipion3env/lib/python3.8/site-packages/emtable/metadata.py", line 358, in writeStar
00027:       writer.writeTableName(tableName)
00028:     File "/projappl/project_2000637/apps/Anaconda-3.0/envs/.scipion3env/lib/p

[2020-10-17 20:49] azazellochg opened #226 "ctf refinement fails"
From Marcos Gragera
Hi all, I am having this error message with relion3.1 in scipion3 (devel branch and git pull with the latest version):

[code]

Note: Particles for the ctf refinement come from auto-refine and post-processing in relion3.1 as well

[2020-10-18 07:16] JuhaHuiskonen opened #231 "Relion initial model wrong dimension"
I used box size 600 pix when picking particles using Xmipp. During extraction, box size of 800 pix was used and re-scaled size 200 pix (bin by factor of 4).  My particle box size is thus 200 pix.   However, Relion initial model comes out in 150 pix box. It seems that the box size from SetOfCoordinates (after resizing) is used and not the box size from particle extraction (after resizing).

Scipion

[2020-10-20 16:00] azazellochg opened #229 "spheres distance in angdist plot"
This parameter doesn't seem to change anything in the plot. Also not clear, what is means, distance in px?

![image](https://user-images.githubusercontent.com/6952870/96612591-d54fdb00-12f5-11eb-8f45-5c01d8292d39.png)

[2020-10-20 21:01] azazellochg commented on #228
Yes, this is fixed at least in the b4 branch

[2020-10-20 21:01] #228 closed

[2020-10-20 21:02] #219 closed

[2020-10-20 21:02] azazellochg commented on #189
reproduced when submitting jobs to the queue, needs further investigation..

[2020-10-20 21:08] azazellochg commented on #227
I can't reproduce this with devel plugin branch

[2020-10-21 06:57] JuhaHuiskonen opened #230 "Relion optics group image size is not correctly updated by protocols"
This is related to issue scipion-em/scipion-em#161.

_rlnImageSize in the STAR file under data_optics gets always its original value (e.g. from particle picking).  It seems that at least the following protocols fail to update this value: 'relion - particles extraction' and 'localrec - extract subparticles'.

So currently I think any Relion workflow that changes the box size will fail.

Scipion v 3

[2020-10-21 08:31] JuhaHuiskonen commented on #230
Thanks Pablo.  Yes, it is likely a bug in the Relion plugin in the part where the Relion STAR file is generated.   The new particle box size (if it has been changed) is not written correctly to the optics group section in the STAR file (the original box size is used instead of the current one).

[2020-10-21 09:01] azazellochg commented on #230
Hi @JuhaHuiskonen , I've just updated devel branch from rc3.0.0b4. I did multiple extract coordinates and then extracting particles with different size (binning) and ImageSize is correct in the optics table. Can you update and check?

[2020-10-21 09:03] azazellochg commented on #227
@JuhaHuiskonen what relion plugin version do you use? scipion version is irrelevant here.

[2020-10-23 13:56] JuhaHuiskonen commented on #230
Funnily enough if I run the extraction again with the new version, then the particle size is written correctly to the optics table.  So it seems this has been fixed.

[2020-10-23 13:56] #230 closed

[2020-10-23 13:56] JuhaHuiskonen commented on #231
It seems this has been fixed now.

[2020-10-23 13:56] #231 closed

[2020-10-23 18:48] JuhaHuiskonen opened #232 "wrong _rlnImageSize in optics table for sub-particles in LocalRec"
I have extracted sub particles (box 256) from particles (box 1024) using 'localrec - extract subparticles' protocol. When I run a Relion protocol with these (e.g. 'relion - reconstruct'), wrong _rlnImageSize is written into the STAR file (1024, not 256).

[2020-10-25 16:25] azazellochg opened #233 "polishing convert movies failed"
Aligned inputMovies set gets converted into mics star and optics table is not complete - only one (first) group is in the optics table.  The particles however have correct opticsgroup numbers.

[2020-10-25 17:22] azazellochg commented on #233
Fixed in ccb28cfddef4d9a7637df23f7d6319010f256511

[2020-10-25 17:22] #233 closed

[2020-10-25 17:45] #229 closed

[2020-10-25 17:54] azazellochg commented on #225
Hi @rmarabini , I'm afraid with current number of protocols I won't have time to implement something non-standard here. You could add an option to the current protocol and I'll be happy to review it.

[2020-10-25 18:01] azazellochg commented on #197
I ran relion30 refine (outside scipion) and then imported particles and ran relion31 - refine 3d (scipion3). This way it works. Will have to go back to scipion2 + relion30 to check further.

[2020-10-25 18:27] azazellochg commented on #197
Now I ran ref3d in scipion2+relion30 and then used as input for scipion3+relion31. It worked as well. I don't think I will be able to reproduce this unless someone sends a full workflow or gives a remote access to the project.

[2020-10-25 18:29] azazellochg commented on #227
@JuhaHuiskonen are you still reproducing this? Where do input particles come from?

[2020-10-25 18:36] azazellochg commented on #226
I have fixed the phase shift warning, but just in case, do you have phase shift values - i.e. is this VPP data? As for the actual error, smth is completely wrong with Runs/011427_ProtRelionCtfRefinement/input_particles.star
It would help if you could provide Runs/011086_ProtRelionRefine3D/particles.sqlite

[2020-10-25 18:44] azazellochg opened #235 "add relax_sym flag for ref3d/cl3d"
Coming in relion 3.1.1

[2020-10-26 12:43] rmarabini opened #236 "bugs found executing relion devel"
1) relion_reconstruct:  It is not possible to give as input phase flipped images. Before the protocol checked  if  imgSet.isPhaseFlipped()==true and added the flag " --ctf_intact_first_peak" automatically. Follows a "git diff" between devel and the proposed code.
[code]

2) Protocol protocol_classify3d.py, viewer that display the Pmax is wrong (see attached image)
Y axis should go form 0 to 1, the

[2020-10-26 17:50] azazellochg commented on #236
Thank you @rmarabini ! Fixed.

[2020-10-26 17:50] #236 closed

[2020-10-27 09:06] delarosatrevin opened #238 "Relion motioncor job fails if generated PSD before/after"
**Describe the bug**
When this option is enabled the job fails. It seems to be related to expected filenames by the xmipp command that will compute the PSD.

Maybe we can use the Relion generated PSD.

[2020-10-27 13:52] delarosatrevin opened #239 "Serious improvements on Relion motioncor protocol"
### This issue contains many other issues related to this protocol

* [ ] Use MPI/threads in a smarter way, see #63
* [ ] Implement batches and PSD re-use, see #104
* [ ] Check crash and performance when extracting > 1M particles, see #108
* [ ] Check files generation for HTML report, see #210
* [ ] Current PSD before/after (with Xmipp) fails, see #238

[2020-10-27 13:54] delarosatrevin commented on #63
Will be addressed in a more general issue

[2020-10-27 13:54] #63 closed

[2020-10-27 13:54] delarosatrevin commented on #104
Will be addressed in a more general issue

[2020-10-27 13:54] #104 closed

[2020-10-27 13:54] delarosatrevin commented on #108
Will be addressed in a more general issue

[2020-10-27 13:54] #108 closed

[2020-10-27 13:54] delarosatrevin commented on #210
Will be addressed in a more general issue

[2020-10-27 13:54] #210 closed

[2020-10-27 13:54] delarosatrevin commented on #238
Will be addressed in a more general issue

[2020-10-27 13:54] #238 closed

[2020-10-27 13:58] JuhaHuiskonen opened #240 "Bayesian polishing error"
Relion particle  polishing fails with error

"There is no movie metadata STAR file for any micrographs!"

Here the inputs are the aligned movies generated with 'relion - motion correction'

Scipion v. 3.0.5

[2020-10-27 14:01] delarosatrevin opened #241 "Improvements for Relion extract particles"
### Several improvements for particles - extraction:

* [ ] Allow using particles as input (this will solve the issue of many properties not being propagated right now, e.g per-particles defocus, random subset, particle group, etc), see #41
* [ ] Fix creation of empty stacks, see #189
* [ ] Check crash and performance when extracting > 1M particles, see #108

[2020-10-27 14:02] delarosatrevin commented on #41
Will be addressed in a more general issue

[2020-10-27 14:02] #41 closed

[2020-10-27 14:02] delarosatrevin commented on #189
Will be addressed in a more general issue

[2020-10-27 14:02] #189 closed

[2020-10-27 14:04] delarosatrevin commented on #240
Relion plugin branch/version? I fixed some time ago a bug that produced the same error message.

[2020-10-27 14:10] JuhaHuiskonen commented on #240
Relion plugin 3.0.0, branch devel.

[2020-10-28 10:36] #215 closed

[2020-10-28 10:36] #161 closed

[2020-10-31 16:30] azazellochg opened #244 "add eer options for motion correction job"
upcoming in relion 3.1.1

[2020-11-03 16:44] mgrageraz commented on #226
Hi, Grigory, and sorry for the delay. The data are not from VPP. You can download the Runs/011086_ProtRelionRefine3D/particles.sqlite file from here:

https://we.tl/t-3XyHVChywL

Best regards.

[2020-11-04 11:15] azazellochg commented on #98
Since relion code is too complicated to figure out the pixel size (it make image square, then crop then downsample etc), I suggest to grab it from the log file

[2020-11-04 11:48] DStrelak opened #246 "Cannot compile (CUDA gcc)"
**Describe the bug**
Cannot compile while installing via Scipion plugin manager

**To Reproduce**
Have NVCC in the path (cuda 8)
gcc-7 default
gcc-5 present, but not default
try to install plugin via plugin manager

**Expected behavior**
Build script should pickup gcc-5 for compilation of the cuda host code, or let me somehow set it.

**Screenshots**
If applicable, add screenshots to help explain

[2020-11-04 13:10] azazellochg commented on #246
Hi @DStrelak , if you want to use a specific gcc, you need to do the following. Below is my example for gcc8 and cuda 10.1 on gtx 1080i:
[code]

[2020-11-04 13:14] azazellochg commented on #246
imho, relion has a lot of compilation options (https://www3.mrc-lmb.cam.ac.uk/relion/index.php/Download_%26_install#Installation_configurations_from_source_code) and the scipion installer was made in a way to compile the most general case, which is not even optimized for your GPU. So the best way is to install relion yourself and then link the installation

[2020-11-04 14:56] DStrelak commented on #246
At the end I opted for `update-alternatives` approach.
However, none of these is very user friendly ...

[2020-11-06 12:11] DStrelak opened #247 "Cannot compile (cuda 10.2, gcc 7.3)"
**Describe the bug**
Compilation fails on the Cuda code, while installing via plugin manager

**To Reproduce**
Install plugin via plugin manager

**Desktop (please complete the following information):**
 - Scipion version: 3.0.5 (devel)
 - Relion plugin version": 3.0.0b6
 - Relion binary version: relion-3.1.0

**Additional context**
Plugin log:

[code]

Plugin error log:
[code]

[2020-11-06 13:38] azazellochg commented on #247
As this is not a scipion issue per se, prease report compilation problems at https://github.com/3dem/relion/issues/

[2020-11-06 13:38] #247 closed

[2020-11-07 19:06] #98 closed

[2020-11-08 09:58] JuhaHuiskonen opened #249 "grouping of frames in motion correction"
I have 'group frames' option set to 3 frames.  It seems however that this is not taken into account in the motioncorr run.  The command line the protocol produces is this:

relion_run_motioncorr --i micrograph001_input.star --o output/ --use_own --first_frame_sum 1 --last_frame_sum 22 --bin_factor 2.000000 --bfactor 150 --angpix 0.67500 --patch_x 1 --patch_y 1 --j 4 --dose_weighting --dose_per_fra

[2020-11-08 10:14] JuhaHuiskonen opened #250 "issue with micrograph thumbnails in motion correction"
If I create thumbnails in motion correction (right), the subsequent ctffind4 run fails with the error: "no such table: Properties".

<img width="475" alt="Screenshot 2020-11-08 at 12 10 54" src="https://user-images.githubusercontent.com/20352352/98462265-affb1200-21bb-11eb-9eaf-75d38e871a76.png">

Otherwise an identical run (left) that does not create thumbnails is fine.

[2020-11-08 10:45] azazellochg commented on #249
Thank you, @JuhaHuiskonen ! Fixed in devel.

[2020-11-08 10:45] #249 closed

[2020-11-09 12:25] azazellochg commented on #226
Hi @mgrageraz , thank you for the file. I was able to successfully run the convertinputStep with it. Could you pull the latest plugin devel changes and try again?

[2020-11-09 12:29] JuhaHuiskonen commented on #227
I think I meant earlier 3D classification (not 2D). However, I am unable to reproduce this in my current project with the latest Relion plugin.

[2020-11-09 12:29] #227 closed

[2020-11-09 14:11] azazellochg commented on #250
Hm, can't reproduce this. Do you have eman2 installed? Making thumbnails requires e2proc2d. Does motioncor work properly?

[2020-11-09 14:21] azazellochg commented on #226
Oops, let me actually check if the ctf ref starts..

[2020-11-09 14:31] azazellochg commented on #226
Could you verify if indeed Runs/011427_ProtRelionCtfRefinement/input_particles.star does not contain all columns needed for view prediction: rlnOriginXAngst, rlnOriginYAngst, rlnAngleRot, rlnAngleTilt, rlnAnglePsi and rlnRandomSubset?

[2020-11-09 15:41] JuhaHuiskonen commented on #250
That explains it, we don't have eman2 installed. Maybe the requirement should be added to the help, as eman2 is not required for Scipion in general. Alternatively this could be done in Xmipp

[2020-11-09 16:04] azazellochg commented on #250
Thanks! I have added the explanation to help.

[2020-11-09 16:04] #250 closed

[2020-11-11 12:24] azazellochg opened #251 "Add extra var to env"
Add
RELION_EXTERNAL_RECONSTRUCT_EXECUTABLE for sidesplitter

[2020-11-11 13:48] mgrageraz commented on #226
Hi, Grigory, it seems it is working after the update, thank you! I will let you know if something new happens.

All the columns that you show also appear in my Runs/011427_ProtRelionCtfRefinement/input_particles.star, although they do not look exactly like the message above:

https://we.tl/t-Ri34WmgtY7

Thank you again for your time!

[2020-11-11 15:09] azazellochg commented on #226
Great! Feel free to reopen if the issue happens again.

[2020-11-11 15:09] #226 closed

[2020-11-22 19:46] azazellochg commented on #240
Hi @JuhaHuiskonen , does it still happen? Can you send me movies.sqlite (output from relion motion correction) and particles.sqlite (input for polishing)?

[2020-11-22 19:50] azazellochg commented on #197
I believe localrec-related issue was fixed. @pconesa do you still have this issue? If so, please reopen and send me input sqlite files.

[2020-11-22 19:50] #197 closed

[2020-11-23 06:07] pconesa commented on #197
Thanks, I'll reopen if happens again

[2020-11-23 07:35] JuhaHuiskonen commented on #240
This is working now, thanks!

[2020-11-23 07:35] #240 closed

[2020-11-26 13:40] azazellochg opened #253 "add CTF grouping to 3d init protocol"
Looks missing..

[2020-11-28 11:18] #253 closed

[2020-11-29 19:09] azazellochg commented on #87
I've checked with relion 3.1 star file and it works:
[code]
[relion_it017_data.star.txt](https://github.com/scipion-em/scipion-em-relion/files/5612673/relion_it017_data.star.txt)
![image](https://user-images.githubusercontent.com/6952870/100550874-e684f380-3274-11eb-88c7-a8779064714c.png)

For relion 3.0 or older star file format this doesn't work. The problem appears in https://github.com/scipion

[2020-12-01 15:30] #87 closed

[2020-12-03 06:52] JuhaHuiskonen opened #254 "In relion 3D classification Tau fudge cannot be a decimal numbered value"
In some special cases, it may be beneficial to change the "tau fudge value" and sometimes to values smaller than 1, e.g. 0.1.  Now it seems the GUI converts the value as integer. Value of 0.1 becomes 0.

[2020-12-03 12:03] azazellochg opened #255 "set halfmapfilenames"
after 3d refinement:
![image](https://user-images.githubusercontent.com/6952870/101015587-8c7b7b00-355f-11eb-9912-2a1e33889462.png)

[2020-12-03 13:51] azazellochg opened #256 "rlnMicrographOriginalPixelSize has to be updated"
It's used not only for polishing and mc but also for refine3d for internal MTF correction. Probably good place to update it is in extract particles. Also check #252

[2020-12-03 18:48] azazellochg commented on #255
The halfnames are set (I can print them), but somehow not displayed...
[code]
@delarosatrevin any idea why I can't see CsvList in the table?

[2020-12-03 21:45] azazellochg commented on #255
I guess xmipp java vieweer cant display this Scipion objects..

[2020-12-03 21:45] #255 closed

[2020-12-05 13:27] azazellochg commented on #254
Hi @JuhaHuiskonen , thanks. Luckily, the change from Int to Float is compatible with old projects (the other way around would be breaking), so I fixed this in the devel branch.

[2020-12-05 13:27] #254 closed

[2020-12-07 13:19] azazellochg opened #257 "imported parts do not have coords"
Imported particles from a star file, got mics / parts detected correctly. But the particles do not have any coordinates.

[2020-12-12 18:53] azazellochg opened #258 "add 3.1.1 tgz"
Released in November

[2020-12-13 09:31] AlazzawiAdil opened #259 "Installing RELION EM Plugins Issue"
Thanks in advance, recently I was using scipion and it does work perfectly. I got some issues while I tried to install RELION it keeps saying FAILED, any suggestions please ?

I did follow the installation using ubuntu with conda
I have posted a screenshot to what I had so far
![Screenshot from 2020-12-12 11-41-56](https://user-images.githubusercontent.com/38712332/101990987-47e29480-3c6f-11eb-8c4

[2020-12-13 09:31] #259 closed

[2020-12-13 14:52] #258 closed

[2020-12-13 14:53] #256 closed

[2020-12-13 15:23] azazellochg commented on #251
This is not required, as just having --external_reconstruct in extra params and
[code]
is enough for it to work.

[2020-12-13 15:23] #251 closed

[2020-12-17 22:39] CFDavidHou opened #260 "extract particle coordinates from 2D class"
Hi all,

I encountered an issue that I can't find answers elsewhere. I jump from RELION3.1 to Scipion3. In scipion3 how do you extract downscaled 2D class particles coordinates and re-extract again to have the original resolution particles? Or I can do it till I have finished initial model -> 3D class.

I am really need some help here.

Thank you!

David

[2020-12-17 23:05] azazellochg commented on #260
Hello @CFDavidHou , you need to use "pwem - extract coordinates" protocol with "apply shifts" option.

[2020-12-17 23:17] CFDavidHou commented on #260
I have hard time finding the "pwem - extract coordinates" I am using scipion3.0.7

And I can't find it in the plugin manager as well.

Thanks!

[2020-12-17 23:27] azazellochg commented on #260
![image](https://user-images.githubusercontent.com/6952870/102555793-66a5b880-40bf-11eb-9052-923d774d7462.png)

[2020-12-17 23:29] CFDavidHou commented on #260
Thank you azazellochg! found it!

[2020-12-17 23:41] #260 closed

[2020-12-17 23:45] CFDavidHou opened #261 "ChimeraX plugin unable to execute"
Hi all,

I in stalled scipion3 on two workstation. When I try to open a map using the ChimeraX plugin, it gave me the following errors:

And note that one of my workstation works fine with the ChimeraX plugin but the other does not.

[code]

Thank you!

David

[2020-12-21 10:08] cossorzano opened #262 "Empty output in autorefine"
Using the project that can be downloaded here: http://scipion.cnb.csic.es/downloads/documentation/Example_10248_Scipion3.tgz

The Relion Autorefine (the only one in the project) does not produce any output for the volume or the FSC. If you analyze the results from the last iteration (18), the information is there. But it seems that the output is constructed from the iteration 19, and that one is e

[2020-12-21 20:24] azazellochg commented on #262
Hi @cossorzano thanks for reporting, I'm downloading the project now.

[2020-12-21 22:14] azazellochg commented on #262
@cossorzano output is not constructed from the last iteration files (unless you do this in viewer), the problem is with relion and not scipion. It looks like the output volumes are all blank - all pixels are zero. Do you reproduce this error consistently? If yes, you might report this to Relion devs (along with your hardware setup and compilation options).

I have continued your autorefine with --

[2020-12-21 22:14] #262 closed

[2020-12-29 11:48] #246 closed

[2021-01-03 22:12] azazellochg commented on #136
I'll make a script to do gentle clean of relion jobs. According to relion 3.1 code:
1) find all finished relion protocols
2) do not clean imports, mask create, resmap, select, join, manualpick, subtract
3) recursively find all subdirs
4) for motioncor remove *.log, com, out, err
5) for ctf remove gctf*.out, gctf*.err, entire Micrographs folder
6) for autopick remove *spi FOM maps
7) for extract re

[2021-01-05 14:27] azazellochg opened #264 "sort particles in star file by rlnMicrographName for scratch copy"
when using "Copy files to scratch". This will improve the speed of copying files to ssd. Sorting can be done during convertinputstep with emtable.

[2021-01-06 04:27] AlazzawiAdil opened #265 "RELION 3D refinement model issue"
Hi,

  I'm trying to use RELION 3D refinement model with ribosome data, unfortunately I got the following error:

![1](https://user-images.githubusercontent.com/38712332/103729021-14143980-4fa5-11eb-911e-2112f7163848.png)
![2](https://user-images.githubusercontent.com/38712332/103729025-16769380-4fa5-11eb-90fb-c0141ef72718.png)
![3](https://user-images.githubusercontent.com/38712332/103729029-17a7

[2021-01-06 10:53] azazellochg commented on #265
Hi @AlazzawiAdil , you are running refinement with 3 MPI and 1 thread and running out of GPU memory. You should use as many threads as you can (2*X threads=N, where N is the total number of CPU cores)

[2021-01-06 15:34] AlazzawiAdil commented on #265
thanks @azazellochg for your response, in this case, if I have the following system which numbers should I used for both MPI and threads?

![4](https://user-images.githubusercontent.com/38712332/103786683-51f37b00-5002-11eb-9783-316bccec447f.png)

[2021-01-06 15:37] azazellochg commented on #265
oops, I missed the fact that you are running on gpu. My previous comment is for cpu run. So, you run on a single machine? Depending on how many GPUs you have, I would use 2 threads per GPU

[2021-01-06 15:39] azazellochg commented on #265
See https://www3.mrc-lmb.cam.ac.uk/relion/index.php/Benchmarks_%26_computer_hardware#Typical_GPU_usage

[2021-01-06 15:39] AlazzawiAdil commented on #265
I have one GPU on a single machine in this case you mean I have to use 1 for MPI what about the number of threads in my case? appreciate your help

[2021-01-06 15:40] AlazzawiAdil commented on #265
Ok I get it so that means MPI=1 and threads=2, am I correct?

[2021-01-06 15:45] azazellochg commented on #265
you cannot use less than 3 MPIs for 3d refinement. Try 3x2. If you still run out of memory, reduce your box size or try  try "combine iterations through disc: Yes"

[2021-01-06 15:46] AlazzawiAdil commented on #265
I will try thanks so much

[2021-01-06 15:48] azazellochg commented on #265
If this doesn't help then try running your job on CPU with 3 mpi x 4 threads. For more information see relion tutorial, wiki and ccpem mailing list. The errors you are having are from Relion and not Scipion-related.

[2021-01-06 15:48] #265 closed

[2021-01-06 19:46] AlazzawiAdil commented on #265
it does not I will try the CPU and see thanks

[2021-01-10 21:54] azazellochg opened #266 "possible wrong gain application in polishing"
According to Takanori, the polishing does not apply gain transformations. In relion a new gain ref  file is written during motioncor which is then used for polishing job. We need to check the gain rotation/flip options and apply transformation in the convertInputStep of the polishing protocol.

[2021-01-11 16:01] azazellochg commented on #266
Also (thanks Andrea Nans) check if gain ref name is propagated properly from mc protocols. Maybe rather fetch it from movies set and paste into the optics table.

[2021-01-18 14:46] azazellochg opened #268 "Localres viewer"
Offer locally filtered volume as the one to be colored by localres map

[2021-01-31 20:15] #268 closed

[2021-02-01 09:50] pconesa commented on #225
@azazellochg , how is this related to the logging centralization? I don't see it.

[2021-02-01 09:54] azazellochg commented on #225
It's not. Difficult Monday morning 😅

[2021-02-01 11:03] gilcantero commented on #225
Hi @rmarabini, I am having a similar issue, did you find a solution to subtract using relion with a refinement which is not from relion?

[2021-02-01 14:14] rmarabini commented on #225
Hi @gilcantero,

I have modified the project protocol in order to allow projection subtraction from data which is not from relion. This modification is in one of my branches and it has NOT been properly  tested. If you want I may share the branch which but use it at your own risk

[2021-02-01 16:52] gilcantero commented on #225
If installed separately from scipion3, is there any risk of breaking my project? If the only problem I might face is the protocol not working but not breaking anything It might be useful.

Thank you.

[2021-02-03 12:10] azazellochg opened #269 "polishing returns wrong pixel size"
If scale/window is used and the box size is rescaled (not just windowed) then the output particles pixel size will change. We need to make sure it changes for the output set.

[2021-02-03 12:43] azazellochg opened #270 "rlnCtfDataAreCtfPremultiplied"
Relion allows CTF pre-multiplication in polishing:

https://urldefense.com/v3/__https://www.jiscmail.ac.uk/cgi-bin/wa-jisc.exe?A2=ind1912&L=CCPEM&O=D&P=42487__;!!Mih3wA!StZGac4eSCCvJReP9WnDgop6znVaGeGORR_tIcejXQKHpa2Man3cCLNDD7r9VmdySg$

https://urldefense.com/v3/__https://www.jiscmail.ac.uk/cgi-bin/wa-jisc.exe?A2=ind2008&L=CCPEM&O=D&P=103727__;!!Mih3wA!StZGac4eSCCvJReP9WnDgop6znVaGeGORR_tIcejXQKH

[2021-02-03 21:49] #269 closed

[2021-02-03 21:49] azazellochg commented on #266
Fixed in #267

[2021-02-04 09:54] rmarabini commented on #225
Hi,

    The protocol will not break your project but I do not think it is
working as it should. I will let you know
when I am happy with it.

   Roberto

On Mon, Feb 1, 2021 at 5:52 PM gilcantero <notifications@github.com> wrote:

[2021-02-04 10:25] gilcantero commented on #225
Ok, thank you Roberto

[2021-02-05 18:22] rmarabini commented on #225
Hi @JuhaHuiskonen  and @gilcantero you are welcome to use the "projection subtraction" new implementation available in branch rm_subtraction. As far as I know it works (I tested it with JuhaHuiskonen data) but use it at your own risk. Note that this is not (yet) an official release therefore you do not have access to it using  scipion plugin manager. You need to download it  using git and install

[2021-02-11 13:19] #266 closed

[2021-02-16 11:59] andreanans opened #273 "add threads option for relion localres function"
Could you please add a 'threads' box in addition to the MPIs? In Relion standalone we can use a combination of MPIs and threads for Relion local resolution jobs. Using all MPIs is causing issues on our cluster..

Thank you!

Andrea

[2021-02-16 12:37] azazellochg commented on #273
Hi Andrea, I just got a reply from Takanori saying that relion localres does not support threads. Also, if you check the command line in Relion GUI, number of threads is not translated into anything (there's no --j parameter).

[2021-02-16 12:37] #273 closed

[2021-02-20 18:57] andreanans opened #274 "gain reference not listed in .star files for polishing"
I've updated to the latest version of the relion plugin and the gain reference is not listed in the input star files that are generated during Step 1 for polishing. Instead it lists "":

_rlnMicrographPreExposure                   0.0
_rlnVoltage                               300.0
_rlnMicrographStartFrame                      1
_rlnMotionModelVersion                        0
_rlnMicrographGainNam

[2021-02-20 19:28] andreanans opened #275 "bayesian polishing listed as bayesian polishing training and vice versa"
After updating to the latest relion plugin, I noticed that my bayesian polishing training jobs are labelled 'bayesian polishing' and my bayesian polishing jobs are labelled 'bayesian polishing training.'

[2021-02-21 11:44] azazellochg commented on #274
Hi @andreanans , currently you have to "assign" gain reference to aligned movies using assign optics groups protocol and then run polishing.

[2021-02-21 11:47] azazellochg commented on #275
I'm not sure I understand this. The protocol labels can be changed only by user, even the default ones as they are stored in db and not accessed by plugin.

[2021-02-21 15:39] andreanans commented on #274
OK, good to know. It would be useful to point a note somewhere in the polishing window so users know they must do this.

[2021-02-21 15:45] andreanans commented on #275
Apologies, you are correct. I forgot I had manually added 'training' to my polishing protocol labels to distinguish the training protocols from the polishing protocols.

[2021-02-21 15:45] #275 closed

[2021-03-02 12:47] azazellochg opened #277 "add check to warn about abs paths"
Check that rlnImageName does not start with "...@/..", as Relion dose not allow abs paths.

https://github.com/scipion-em/scipion-em-relion/blob/39631dad2061cdc74c8a93a7465405f29dd63ee3/relion/convert/dataimport.py#L200

Reported by @pconesa  / David

[2021-03-03 23:22] azazellochg opened #278 "loadAcquisition wizard broken during import"

[2021-03-03 23:23] #225 closed

[2021-03-04 12:54] azazellochg commented on #278
Fixed, will be pushed to devel

[2021-03-04 12:54] #278 closed

[2021-03-04 13:12] azazellochg commented on #274
Added the following warning: "If you have provided a gain reference or defects file during '
                    'movie import or motion correction, please *make sure to '
                    'run first "assign optics groups" protocol for aligned '
                    'movies*, specifying the gain file etc. Currently, Scipion '
                    'has no other way of knowing if you have e.g. rota

[2021-03-04 13:12] #274 closed

[2021-03-04 13:26] #277 closed

[2021-03-04 15:25] azazellochg opened #279 "consider xFrac / yFrac"
Scipion extract coords protocol when applying shifts creates coord.xFrac and yFrac floats with remaining shifts. These have to be considered when using Writer for partToRow (coordToRow)

[2021-03-07 21:57] #244 closed

[2021-03-07 21:59] #257 closed

[2021-03-07 21:59] #279 closed

[2021-03-10 11:01] gilcantero opened #281 "relion fails after plugin update in scipion"
Hi I was obtaining weird results in relion postprocessing (inside scipion). I was using cryosparc refinement as input for postprocessin plus a xmipp mask. The result was a noise model without any recognosible feature (just noise). Then I updated the plugin of relion in case that was the problem. It installed relion 3.1.1 (I had 3.1.0). Now, I cannot use neither of both (using config file to determ

[2021-03-10 11:32] azazellochg commented on #281
Hi @gilcantero , there a couple of things:
1) I dont remember it printing fn0 / fn lines for every stack, did you change manually some code in the plugin? Anyway, that's not the source of the error
2) The error is 000001@Runs/001055_ProtCryoSparc3DClassification/extra/J6/cryosparc_P1_J6_class_00_00022_volume.mrc:mrc , particularly ":mrc" part at the end. I would blame cryosparc (@fonsecareyna82 )

[2021-03-10 11:32] azazellochg commented on #281
Hi @gilcantero , there a couple of things:
1) I dont remember it printing fn0 / fn lines for every stack, did you change manually some code in the plugin? Anyway, that's not the source of the error
2) The error is 000001@Runs/001055_ProtCryoSparc3DClassification/extra/J6/cryosparc_P1_J6_class_00_00022_volume.mrc:mrc , particularly ":mrc" part at the end. I would blame cryosparc (@fonsecareyna82 )

[2021-03-10 11:54] gilcantero commented on #281
Hi @azazellochg , I have not touched anything in the code, just the config to select one relion or the other as there are two installed. Ok, I will reprocess using only relion in the midtime then. Shall I say something to Yunior in slack or something? Or the mention here should be enough?

Thanks for your time :)

[2021-03-11 08:28] pconesa commented on #281
This is caused by cryosparc plugin trying to accommodate mrc file written by CS with a propper header but misunderstood by the viewer Data viewer.

mrcfile understand is correctly (eg: 128, 128, 128, N=1)
Out own Ccp4Header class sees the same
But ImageHandler sees (128, 128, 0, N=128)

This has a hard fix. Best we can do now is to avoid the twist and at least allow further processing. I'll check

[2021-03-11 08:37] delarosatrevin commented on #281
Pablo,

If you add :mrc it should be treated as a volume, if I remember correctly.

On Thu, Mar 11, 2021 at 9:28 AM Pablo Conesa <notifications@github.com>
wrote:

[2021-03-11 09:14] azazellochg commented on #281
I'm not going to go through the whole relion plugin to make sure ":mrc" is removed from the filenames because of this.

[2021-03-11 09:21] delarosatrevin commented on #281
I think the ":mrc" suffix should be used for displaying only, not storing
it as part of the filename in the database.

On Thu, Mar 11, 2021 at 10:14 AM Grigory Sharov <notifications@github.com>
wrote:

[2021-03-11 13:56] pconesa commented on #281
I know but viewer wasn't detecting the files as volumes. After many attempts to understand what is going on, I think I finally got it:

CS volumes output have the ISPG value of the header to 0. The viewer expects 1, otherwise viewer will treat the image as a stack.

THis is form ccp4 specs:

Note 6
Spacegroup 0 implies a 2D image or image stack. For crystallography, ISPG represents the actual spac

[2021-03-11 14:00] azazellochg commented on #281
Wouldn't it be easier to adopt the relion/eman approach that only .mrcs is a stack of 2D images and .mrc is a volume or a 2D image. Stacks of volumes are not supported.

[2021-03-11 14:25] pconesa commented on #281
Certainly I'f like to simplify this. Is a bit of a nightmare. That convention sounds good to me but here C++ code is involved + java code. It will require a thorough review.

For now, we can set the right header in CS volumes.

[2021-03-19 16:14] azazellochg commented on #235
Ready in 4.0 branch

[2021-03-25 12:20] #136 closed

[2021-04-07 14:15] azazellochg opened #291 "assign alignment after subtraction"
From mailing list:

Dear all,

I’m running Scipion 3.0.7 and having the following issue:

I have a set of particles refined by Relion autorefine. I have run a Relion Subtract projection job on these particles and 3D classified them using Relion’s 3D classifier and --relax_sym c2 and ended up with asymmetric class averages, as expected. I then took the particles from one of the classes and wanted t

[2021-04-08 10:59] azazellochg commented on #291
I'm getting different results in rln vs scipion subtraction, will investigate this first.

[2021-04-08 16:52] azazellochg commented on #291
This should be fixed now, I'll confirm tonight

[2021-04-08 18:14] #291 closed

[2021-04-20 18:42] pconesa opened #294 "Import particles not storing the acquisition info properly."
**Describe the bug**
When importing a start file in the import particles protocol ("relion" mode) the acquisition is not stored properly

**To Reproduce**
Steps to reproduce the behaviour:
1. Add import particles protocol
2. choose option "relion"
3. chose a star file from relion3.1 (we have tested using one from the dataset: data/tests/relion31_tutorial_precalculated/Class2D/job013/run_it025_data

[2021-04-22 09:28] azazellochg commented on #294
Hm, it looks like it's been like this at least for a year. We stopped using acquisition and use optics now. I'll fix it

[2021-04-22 09:32] azazellochg commented on #294
I found the following from @delarosatrevin :
[code]
@delarosatrevin do you recall this?

[2021-04-22 09:35] delarosatrevin commented on #294
I think this is a performance note, since we know the optics group for each particle, we can know their Acquisition without storing it per particle. It will save many columns per row.

[2021-04-22 09:38] azazellochg commented on #294
for the readSetOfParticles readAcquisition=True is used only in the dataimport, however this flag is ignored and convert31 has partSet.setAcquisition(acq) with zeros - default values every time.

[2021-04-23 04:40] JuhaHuiskonen opened #296 "Add "force mask" option in post processing"
Would be useful in some cases to have an option to set the "--force_mask" option in 'relion - post-processing' plugin.

[2021-04-27 10:07] azazellochg opened #298 "unintended streaming?"
Im running scipion 3.0.5 (all devel branches) + relion plugin devel + xmipp release. I have one branch of protocols running in streaming processing items one by one (RHS on the image). I also have another set of movies that run motioncor in relion (on the left of the image). The last one for some reason does streaming (I can see open output set) while I want to process all items. Running with mpi

[2021-04-30 11:07] azazellochg commented on #294
@pconesa do you have time to check the fix in devel branch?

[2021-04-30 11:26] pconesa commented on #294
Sure.

[2021-04-30 12:57] pconesa commented on #294
![image](https://user-images.githubusercontent.com/785633/116698040-356dbb00-a9c4-11eb-89c0-fb7808b3b8e4.png)
I can see acquisition values now and running cryosparc 2d classification with relion imported particles  worked.

I'd say is fixed. Thank you!

[2021-04-30 12:57] #294 closed

[2021-05-09 10:31] #296 closed

[2021-05-17 12:44] pconesa opened #301 "Import coordinates from particles.star"
**Is your feature request related to a problem? Please describe.**
In several occasions, users wanted to import a particles.star file (coming from refinements) done outside scipion with relion or CS. But they are interested only in getting the coordinates.

Generic Import coordinates does not fit in this approach since it expects having  1 metadata file per coordinate file.

**Describe the solutio

[2021-05-19 12:46] azazellochg opened #302 "import mrcs particles with a single image"
[code]

[2021-05-28 11:44] azazellochg commented on #302
Fixed in https://github.com/scipion-em/scipion-em/pull/222
As far as I can tell, Relion is okay with no index mrcs files.

[2021-05-28 11:44] #302 closed

[2021-06-03 14:21] #235 closed

[2021-07-29 11:16] azazellochg opened #307 "env prepend is not used"
If a protocol does not inherit from ProtRelionBase

[2021-08-05 12:30] azazellochg opened #309 "input volume conversion from hdf fails"
On 4/8/21 19:03, Jaime Martín-Benito Romero wrote:

Dear Legions of Scipio the African,

I think there is a format transformation error in the relion 3D cassification/refinement protocol when trying to run starting from a volume generated with EMAN init volume (at least in my Scipion 3.0.7 y 3.0.10). The error is as follows:
[code]

[2021-08-07 15:51] #309 closed

[2021-08-23 09:51] DStrelak opened #311 "relion does not support filenames starting with "_""
**Describe the bug**
ERROR: Extra work (i.e plots, PSD, thumbnail) has failed
Movie alignment failed completely

**To Reproduce**
Steps to reproduce the behavior:
1. using https://www.ebi.ac.uk/empiar/EMPIAR-10591/
_20190614_160652.mrc 1.3 GB
_20190614_161552.mrc 1.3 GB
_20190614_161931.mrc 1.3 GB
2. Import them
3. Try to align them with relion motion correction (setting Number of patches to 4x4):

[2021-08-23 18:43] azazellochg commented on #311
@DStrelak relion does not support filenames starting with "_", as this is reserved for star labels.

[2021-08-24 11:58] DStrelak commented on #311
In that case, the plugin should either check the name and change it accordingly, or at least show some reasonable error message

[2021-09-01 09:48] rmarabinipsi opened #312 "autorefine fails if mask extension is map"
**Describe the bug**
when running autorefine the first command executed is:

00016:   ** Running command:  relion_image_handler --i Runs/028693_ProtImportMask/extra/maskSmall_120_23_08_2021_2.mrc --o Runs/028732_ProtRelionRefine3D/tmp/maskSmall_120_23_08_2021_2.mrc --angpix 1.38000 --new_box 120 --threshold_above 1 --threshold_below 0

if the extension of the input image is "map" the program fails

[2021-09-01 11:28] azazellochg commented on #312
Hi @rmarabinipsi , thanks for reporting the bug. Can you pull the branch again and test? It should be fixed.

[2021-09-01 13:06] rmarabinipsi commented on #312
hi @azazellochg ,

      I works now ;-)

       Thanks

[2021-09-01 13:59] #312 closed

[2021-09-01 15:44] azazellochg opened #313 "add scripts/eer_trajectory_handler.py functionality to polishing protocol"
To change EER upscaling and frame grouping

[2021-09-08 11:16] pconesa opened #314 "Shift plot wrong when skiping first frame in alignment"
This is what I'm getting when I skip the first frame. I think the first dot should not be there.
![image](https://user-images.githubusercontent.com/785633/132499927-78b1ac11-a6b6-4e48-8265-80733d57c7b9.png)

[2021-09-08 12:52] azazellochg commented on #314
Good catch! The frames that have no/zero shifts are assigned with -9999px shifts. I'll fix the plot.

[2021-09-11 12:11] azazellochg commented on #314
Fixed in https://github.com/scipion-em/scipion-em-relion/commit/31d63ad5f95bb9a1fb4b98266dc5c9f4ce1ed4ce and https://github.com/scipion-em/scipion-em-relion/commit/0ea2fcd2bd758f4751a66f6014731bca8d5e734d

[2021-09-11 12:11] #314 closed

[2021-09-12 14:28] #191 closed

[2021-09-12 16:34] azazellochg commented on #110
Subtraction should now be done in subtraction protocol, not by flex_analyse

[2021-10-20 08:21] FraaaMazzz opened #317 "Relion - auto-picking LoG fail - unknown "--pickname"""
I have obtained my micrographs  and I now want to pick the particles for SPA.
So I launch **Relion - auto-picking LoG** but it fails immediately.

I'm working with Scipion v3.0.9

run.stdout

_00047:   Logging configured. STDOUT --> Runs/001888_ProtRelionAutopickLoG/logs/run.stdout , STDERR --> Runs/001888_ProtRelionAutopickLoG/logs/run.stderr
00048:   RUNNING PROTOCOL -----------------
00049:   P

[2021-10-20 10:50] #317 closed, assigned to azazellochg

[2021-10-21 12:30] FraaaMazzz commented on #317
I think I have successfully and correctly installed Relion, I have even specified the relion location in scipion.conf, but I still get the `mpirun: Error: unknown option "--pickname"`

[2021-10-21 13:09] FraaaMazzz commented on #317
1) scipion3 config -p relion

Scipion v3.0.9 - Eugenius
Variables defined by plugin 'relion':

RELION_HOME = /home/em-group/Programs/software/em/relion-4.0/
RELION_CUDA_LIB = /usr/local/cuda-11.4/lib64
RELION_PYTHON = None

These variables can be added/edited in '/home/em-group/Programs/config/scipion.conf'

2) scipion3 run relion_refine --version
Scipion v3.0.9 - Eugenius
relion command detected

[2021-10-21 14:07] azazellochg commented on #317
Oh well, you have not installed relion binaries correctly then. Did you clone the git repo as per instructions?

[2021-10-21 14:15] azazellochg commented on #317
Great! You are welcome

[2022-02-14 14:54] cossorzano opened #325 "3D Classification error in Relion 4.0 plugin"
In a 3D classification within Scipion using Relion-4.0 I get the following error just when constructing the output

01530:   FINISHED: runRelionStep, step 2, time 2022-02-13 06:07:15.700761
01531:   STARTED: createOutputStep, step 3, time 2022-02-13 06:07:15.724766
01532:   types:  [<class 'int'>, <class 'float'>, <class 'float'>, <class 'int'>, <class 'str'>, <class 'float'>, <class 'float'>, <cl

[2022-02-14 16:41] cossorzano commented on #325
I tried to, but which file exactly?

El 14/02/2022 a las 17:10, Jose Miguel de la Rosa Trevin escribió:

[2022-02-14 17:43] delarosatrevin commented on #325
I'm not entirely sure, but I think it is the last particles star file
generated by the relion program.

On Mon, Feb 14, 2022 at 5:41 PM Carlos Oscar S. Sorzano <
***@***.***> wrote:

[2022-02-14 20:39] cossorzano commented on #325
The last file is relion_it025_data.star. The beginning of the particles block is

# version 30001

data_particles

loop_
_rlnImageId #1
_rlnCoordinateX #2
_rlnCoordinateY #3
_rlnMicrographName #4
_rlnImageName #5
_rlnDefocusU #6
_rlnDefocusV #7
_rlnCtfAstigmatism #8
_rlnDefocusAngle #9
_rlnCtfFigureOfMerit #10
_rlnCtfMaxResolution #11
_rlnOpticsGroup #12
_rlnGroupNumber #13
_rlnAngleRot #14
_rlnAn

[2022-02-14 22:58] azazellochg commented on #325
Quite an interesting case where micname=micid for some particles and not for others.

[2022-02-15 09:31] Adriaj95 opened #326 "Error in Relion particle extraction"
When I perform particle extraction after autopicking with relion it appears an error that stops the program when finishes the step 1. The error says "local variable 'posSet' referenced before assignment". I don't know what does it mean nor what to change to make it work.

The parameters of particle extraction are the ones in the images i attach.

I also copied the run.stdout log file of the protoc

[2022-02-15 10:00] azazellochg commented on #326
Hi @Adriaj95 , I'm afraid Scipion2.0 nor Relion 3.0 are not supported anymore and there will be no bugfixes. You will have to upgrade

[2022-02-15 16:52] azazellochg commented on #325
@delarosatrevin I don't see an easy way to solve this. We could change micName = "mic_" + micId, but that does not guarantee that other plugins will do the same. Instead of guessing type in emtable from the first line maybe it's better to have a dict of label:type? For unknown labels we would put the string type by default.

[2022-02-18 14:10] cossorzano commented on #325
Dear both, do you think you can produce any solution to save this analysis, in particular, and to avoid similar situations in the future?

[2022-02-20 18:12] #326 closed

[2022-02-20 18:15] azazellochg commented on #325
Hi @cossorzano, until a proper solution is implemented, a quick hack would be to make https://github.com/3dem/emtable/blob/d3117462b83bf2927c6b5f7697e8ca883fe3a623/emtable/metadata.py#L530 always return str

[2022-02-22 19:31] cossorzano commented on #325
Thank you, Grigory. I could, at least, construct an output. Cheers.

[2022-03-02 15:43] Adriaj95 opened #329 "Error Relion "returned non-zero exit status 127""
**Describe the bug**
When I try to run any Relion program (2D class, extract particles, motion corr etc.) it appears the error "returned non-zero exit status 127" and then the program doesn't work.

It happens with relion 4.0 but also in previous 3.1 version too.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Relion Motion Correction'
2. Click on 'Run'
3. Scroll down to 'run.stdout'

[2022-03-02 21:26] Adriaj95 commented on #329
Yes, sure.

File 'Runs/001951_ProtRelionMotioncor/logs/run.stderr' doesn't existFile 'Runs/001951_ProtRelionMotioncor/logs/run.stderr' doesn't exist00001:   /bin/sh: relion_run_motioncorr: command not found
00002:   Traceback (most recent call last):
00003:     File "/opt/miniconda/envs/scipion3/lib/python3.8/site-packages/pyworkflow/protocol/protocol.py", line 201, in run
00004:       self._run()

[2022-03-02 21:29] azazellochg commented on #329
Thanks, that looks pretty obvious, you do not have relion binaries installed or properly configured. Have a look at https://github.com/scipion-em/scipion-em-relion#installation

[2022-03-02 21:58] Adriaj95 commented on #329
Thank you very much. Tomorrow we will try to fix it.

[2022-03-09 12:55] olofsvensson opened #331 "Problem installing relion-4.0 plugin"
Hi,

I'm trying to install the latest Scipion version "v3.0.10 - Eugenius - 3.0.19 (core)" on an Ubuntu 20.04 computer.

Everything has worked fine till I tried to install the Relion plugin via the plugin manager:

[code]

Any help is appreciated on how to install the Relion plugin.

Thanks,

Olof

[2022-03-09 13:19] pconesa commented on #331
I've transfer the issue. I've also explained by email to @olofsvensson that "theoretically" this is not a error, but technically it is, thus the "stacktrace".

It basically, is telling you, in a dramatic way, to install relion 4 manually.

[2022-03-09 13:21] pconesa commented on #331
Why don't we just remove the "binaries definition for relion4". And have a proper message, even a "validateInstallation" implementation, noting that the installation is missing?

[2022-03-09 16:03] azazellochg commented on #331
Hi both, I've created a PR which will fix this.

[2022-03-12 15:08] #331 closed

[2022-03-12 15:09] #311 closed

[2022-03-25 09:11] VaarinHousutMD opened #334 "Possibility to give half-maps as an input to Relion post-processing"
Hi,

Recently, I ran into an issue while trying to Relion post-process maps that had been Ewalds sphere corrected using Relion Reconstruct. In Scipion, the input of the Relion post-processing can only be a Relion auto-refine process from which the half-maps are read. In most cases this is sufficient. However, if one wants to Relion post-process maps that have been Ewalds sphere corrected, the issu

[2022-03-25 14:08] azazellochg commented on #137
Half-addressed in #335

[2022-03-25 14:16] azazellochg commented on #329
@Adriaj95 has this been sorted?

[2022-03-26 14:10] azazellochg commented on #137
Relion - reconstruct protocol can be executed twice to produce two halves, which can then be input to post-process. rlnRandomSubset is preserved when running subtract protocol.

[2022-03-26 14:10] #137 closed

[2022-03-26 14:14] azazellochg commented on #334
@VaarinHousutMD thank you for the feedback, once the #335 is merged, you can update your plugin and use the new options in the postprocess protocol. Alternatively, if you are using the devel branch, you can simply git pull (also re-install the relion plugin via "scipion3 installp -p ...../scipion-em-relion --devel --noBin" to pull the latest emtable)

[2022-03-26 14:14] #334 closed

[2022-03-26 14:14] azazellochg commented on #325
Fixed in devel and new emtable release

[2022-03-26 14:14] #325 closed

[2022-03-26 14:14] #329 closed

[2022-03-26 14:18] azazellochg commented on #301
@pconesa you want to import a single particles star file, right?

[2022-03-26 16:51] Adriaj95 commented on #329
Hello, no. Our informatician fixed something that made work some protocols from relion but 2D doesn't work. It appears another error.

I attatch de run.stderr. Sorry for replying late, I coundn't have access to the computer until now.

00001:   Traceback (most recent call last):
00002:     File "/opt/miniconda/envs/scipion3/lib/python3.8/site-packages/pyworkflow/protocol/protocol.py", line 201, in

[2022-03-26 17:19] azazellochg commented on #329
Hello @Adriaj95 , exit code 137 is "out of memory" error.

[2022-03-26 17:24] pconesa commented on #301
Yes,that would be the idea. Just a particle star file.
Obviously the challenge there would be to do the matching against an existing setOfMicrographs based on micname== rlnMIcrographName (or whatever appropriate field name).

[2022-04-25 07:27] azazellochg commented on #301
Hi Pablo, you can test
it now on devel, I'll release on pypi soon

[2022-04-25 07:27] #301 closed

[2022-05-04 14:13] azazellochg opened #339 "create conda env for 2d cls ranker"
upon installation

[2022-05-05 09:24] genisvalentin opened #340 "Non-uniform refinement fails at import half maps from relion"
Hi!

There seems to be a problem with running non-uniform refinement when using a 3D reference from relion refinement (I'm using the relion 4.0 beta). The path to the half maps seems to be malformed.

This is the stdout:
[code]

This is the stderror:
[code]

Cryosparc error:
[code]

My plugin version, when I run
`scipion3 installp -p scipion-em-cryosparc2`
I get
[code]

[2022-05-10 12:26] #339 closed

[2022-05-10 12:26] #1 closed

[2022-05-10 12:30] #73 closed

[2022-06-21 10:09] azazellochg opened #348 "useGpu param missing in the plugin 4.0.4"
`Parallel section couldn't be created. 'ProtRelionRefine3D' object has no attribute 'useGpu'`

[2022-06-25 18:07] azazellochg commented on #348
hotfix in #349

[2022-06-25 18:07] #348 closed

[2022-07-28 20:26] azazellochg opened #353 "MB make a fake mask to bypass relion check"
https://github.com/3dem/relion/issues/797

[2022-07-31 15:30] #353 closed

[2022-08-02 08:24] azazellochg opened #354 "implement continue polishing job"
E.g, only to recombine frames

[2022-08-02 13:04] azazellochg commented on #110
done in #352

[2022-08-02 13:04] #110 closed

[2022-09-13 07:52] DmitrySemchonok opened #359 "Bayesian polishing with EER file format."
**Describe the bug**
When running the relion- bayesian polishing, the process crashes.
Original files are in EER format.

**To Reproduce**
Steps to reproduce the behaviour:
0. run the bayesian polishing training  with default 10 000 particles and use the parameters for the bayesian polishing
In my case
Output params:
    Sigma for velocity: 1.140
    Sigma for divergence: 2745.0
    Sigma for acce

[2022-09-13 08:15] azazellochg commented on #359
Thank you for the report @DmitrySemchonok . I will need more information:
1) first 100 lines of Runs/003535_ProtRelionBayesianPolishing/input_corrected_micrographs.star
2) you didnt attach the **complete** run.stderr

[2022-09-13 08:17] DmitrySemchonok commented on #359
Because the website does not accept loading the file type.
I will add it additionally.

<img width="835" alt="Screenshot 2022-09-13 at 10 16 10" src="https://user-images.githubusercontent.com/21281315/189848669-6f8cf6ef-7d29-4ee7-810c-f43fb3de819f.png">

[2022-09-13 08:18] azazellochg commented on #359
The file can be renamed to txt

[2022-09-13 08:19] DmitrySemchonok commented on #359
[run.txt](https://github.com/scipion-em/scipion-em-relion/files/9554886/run.txt)

[2022-09-13 08:51] azazellochg commented on #359
thanks!
1) it looks like you have not run assign optics protocol, hence you are missing the gain reference which is required for EER data.
2) my mistake, I keep forgetting that stderr will not have stdout lines...

[2022-09-13 08:52] azazellochg commented on #359
Could you post 100 lines of Runs/003535_ProtRelionBayesianPolishing/input/GridSquare_1783832_Data_FoilHole_5969362_Data_5966229_5966231_20220906_180402_EER.star ? Maybe the gain is there?

[2022-09-13 08:55] azazellochg commented on #359
Also, could you attach stdout as well please?

[2022-09-13 11:15] DmitrySemchonok commented on #359
[GridSquare_1783832_Data_FoilHole_5969362_Data_5966229_5966231_20220906_180402_EER.txt](https://github.com/scipion-em/scipion-em-relion/files/9556487/GridSquare_1783832_Data_FoilHole_5969362_Data_5966229_5966231_20220906_180402_EER.txt)

[2022-09-13 11:16] DmitrySemchonok commented on #359
[run_out.txt](https://github.com/scipion-em/scipion-em-relion/files/9556494/run_out.txt)

[2022-09-14 10:05] azazellochg commented on #359
@DmitrySemchonok
1) you need to run assign optics protocol on the movies produced by mc2 protocol and set the gain reference correctly.
2) considering that it worked for 3h and not crashed immediately, it might be smth else.

[2022-09-14 12:28] azazellochg opened #361 "save gain file in the output opticsgroup string"
of the outputMovies from mc protocol

[2022-09-16 09:42] azazellochg commented on #359
Worked after the gain was assigned.

[2022-09-16 09:42] #359 closed

[2022-09-17 16:22] azazellochg commented on #361
done in #360

[2022-09-17 16:22] #361 closed

[2022-10-06 13:09] azazellochg opened #365 "subtract projection error"
reported by @EstrellaFG
[code]
![Screenshot from 2022-10-05 12-35-29](https://user-images.githubusercontent.com/6952870/194328354-9200c637-6680-4518-b293-6819b73e951d.png)

[2022-10-06 13:57] azazellochg commented on #365
@EstrellaFG since you didnt provide full output I cant reproduce it.
![image](https://user-images.githubusercontent.com/6952870/194332171-95c0d60f-3d83-4e26-ad5f-a6b4de9f6b14.png)

[2022-10-06 14:13] azazellochg commented on #365
from the error I can only guess your particles that you input to xmipp protocol are not good - they might not have acquisition.opticsgroupinfo

[2022-10-06 14:51] azazellochg opened #366 "relion.tests.test_convert.TestReconstruct fails"

[2022-10-10 09:03] EstrellaFG commented on #365
Hi,
you can find the particles to reproduce the issue in this link: https://we.tl/t-xyOBoqta29. Moreover I have tried to execute protocol "relion - assign optics groups" with these particles and it falied also so I have sent you the logs by email.

[2022-10-10 09:14] azazellochg commented on #365
Thank you! I'll have a look later this week.

[2022-10-14 19:46] azazellochg opened #367 "check polishing with epu movies"
A problem with micnames matching was reported by a user.

[2022-10-15 14:49] azazellochg commented on #365
Hi, as I still cant reproduce this, can you update your emtable to the latest version?
`scipion pip install -U emtable`

[2022-10-16 17:14] azazellochg commented on #367
@andreanans so far I was not able to get any problem. I have imported epu movies as below to have micname with spaces:
![image](https://user-images.githubusercontent.com/6952870/196048786-b7d01874-7e8e-4806-979a-4d1fc7de7890.png)

As long as the particles come from the same movies, they will have the same micname and polishing will work. Could you describe the problem you had?

[2022-10-17 10:06] andreanans commented on #367
Hi,

Apologies for the late reply.

The issue is when we export the project and continue processing in Relion
*standalone*. When we get to the polishing stage, we have to run
motion-correction again since Scipion wasn't writing out the log files
containing the X-Y shifts for each movie frame. This isn't a problem except
Scipion adds  "GridSquare" to the beginning of the movie filename.

The rlnMic

[2022-10-17 10:22] EstrellaFG commented on #365
The particles have no ctf as they are the output of "xmipp3 - create gallery" (which creates projections from a given volume). I can not choose swiching off the ctf correction as I am selecting "Star from Relion protocol" option. I will try to update emtable, thanks.

[2022-10-17 12:16] azazellochg commented on #365
you cannot select start from relion protocol as it does not accept particles, but a protocol.

[2022-10-17 12:44] EstrellaFG commented on #365
Yes, you are right, that was from another trial with auto-refine as input, sorry for the mistake. In this case I use as input the particles, select No in "Star from Relion protocol" and No in "Do CTF correction"

[2022-10-20 13:53] azazellochg commented on #367
Hi, @andreanans

I think it would be easier if I make a new "export movies" protocol for the relion plugin, so that you have the folder structure and star files ready for Relion project outside Scipion. The issues you mentionned are already a part of the Scipion design, so it is better not to touch them. @delarosatrevin do you agree?

[2022-10-20 15:04] delarosatrevin commented on #367
Hi @azazellochg , I think the "export movies" protocol is a good idea.